<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="" />
    <meta name="keywords" content="" />
    <title>关于泽桥</title>

    <link rel="stylesheet" href="assets/css/webfonts.css?version={{ version }}">
    <link rel="stylesheet" href="assets/css/bootstrap.min.css?version={{ version }}">
    <link rel="stylesheet" href="assets/css/plugins.min.css?version={{ version }}">
    <link rel="stylesheet" href="assets/css/style.css?version={{ version }}">
    <link rel="stylesheet" href="assets/css/color.css?version={{ version }}">
    <link rel="stylesheet" href="assets/css/responsive.css?version={{ version }}">
    <style>
        h1.ddd span,h1.ddd{
            font-size: 80px;
        }
    </style>
</head>
<body itemscope>
    <main>
        {% include "./components/navbar.html" %}
        <section>
            <div class="spacing opc8 atLogo">
                <div class="fixed-bg" style="background-image: url(assets/images/about-us-banner.jpg);background-position: top;background-size: 100%;"></div>
                <div class="container">
                    <div class="pg-tp-wrp text-center">
                        <div class="pg-tp-inr">
                            <h1 class="ddd hidewhensmall" itemprop="headline" style="color:#fff;margin-top: 20px;"><span style="color:#fab702;" class="theme-clr">惠泽</span>民生<span style="color:#fab702;margin-left: 30px;" class="theme-clr">健康</span>桥梁</h1>
                            <h1 style="display: none;" class="showwhensmall" itemprop="headline">惠泽<span style="color:#fab702;" class="theme-clr">民生</span><br>健康<span style="color:#fab702;" class="theme-clr">桥梁</span></h1>
                            <!--<ol class="breadcrumb">-->
                            <!--<li class="breadcrumb-item"><a href="index.html" title="" itemprop="url">Home</a></li>-->
                            <!--<li class="breadcrumb-item active">About Us Style 2</li>-->
                            <!--</ol>-->
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section>
            <div class="container">
                <h2 class="blueh2" style="margin-top: 30px;">北京泽桥传媒科技股份有限公司</h2>
                <div class="sanjiao-sec">
                    <div class="sanjiao-text">
                        <span class="blue-dot"></span>
                        北京泽桥传媒科技股份有限公司成立于2008年（股票代码：837828）。公司立足于医疗领域，专注于健康传播内容与技术的创新。致力于成为医疗领域的科技引领者和价值传播者。让每个人享受优质医疗带来的品质和尊严。
                    </div>
                    <img src="assets/images/about-us-sanjiao1.png" alt="">
                </div>
                <div class="sanjiao-sec">
                    <img src="assets/images/about-us-sanjiao2.png" alt="">
                    <div class="sanjiao-text">
                        <span class="blue-dot"></span>
                        构建传媒、医学双通道，以科技赋能，泽桥开启开创式医疗健康智造模式。企业拥有卓越的健康传播智慧平台、医学专业知识服务多载体平台、医疗媒体大数据服务平台、媒体资源管理云平台。我们提供健康传播垂直一体化解决方案、医疗媒体深度智能语义理解大数据系统服务与解决方案、媒体资源管理一站式云服务、专业医疗视频语言表达方案、健康科学素养直播一体化解决方案。
                    </div>
                </div>
                <div class="sanjiao-sec">
                    <div class="sanjiao-text">
                        <span class="blue-dot"></span>
                        “医阶”“医视屏”“泽桥医生”三大国内有影响力的医学传播平台，通过音频、视频等新媒体健康传播方法，结合人工智能、大数据、云计算等强力技术支持，深入了解医生、护士及相关专业从业人员的工作、学习需要以及普通人群的健康科普需求，将传统媒介与新媒体结合，通过新的传播方法及工具实现医学健康的传播，并可实现大数据媒体传播效果量化评估。以多元化产品服务体系构建医疗健康范畴各关键角色之间的通道，形成了具有泽桥自主研发驱动、技术创新、服务融合的新型业务模式及行业解决方案。
                    </div>
                    <img src="assets/images/about-us-sanjiao3.png" alt="">
                </div>
                <img src="assets/images/qiyebar.png" style="width: 100%;margin-top: 80px;" alt="">
                <img src="assets/images/newphone1.png" style="width: 100%;margin-top: 80px;" alt="">
            </div>
        </section>
        {% include "./components/footer.html" %}
    </main><!-- Main Wrapper -->

    <script src="assets/js/jquery.min.js?version={{ version }}"></script>
    <script src="assets/js/bootstrap.min.js?version={{ version }}"></script>
    <script src="assets/js/plugins.min.js?version={{ version }}"></script>
    <!--<script src="assets/js/part-int.js?version={{ version }}"></script>-->
    <script src="assets/js/custom-scripts.js?version={{ version }}"></script>
</body>
</html>
