<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content=""/>
    <meta name="keywords" content=""/>
    <title>Dana - Ultimate Multi-Purpose Corporate Business and Agency HTML Template</title>

    <link rel="stylesheet" href="assets/css/webfonts.css">
    <link rel="stylesheet" href="assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/css/plugins.min.css">
    <link rel="stylesheet" href="assets/css/style.css">
    <link rel="stylesheet" href="assets/css/color.css">
    <link rel="stylesheet" href="assets/css/responsive.css">

    <!-- Revolution Style -->
    <link rel="stylesheet" href="assets/css/revolution/settings.css">
    <link rel="stylesheet" href="assets/css/revolution/navigation.css">
    <style>
        #qqliaotian {
            width: 100px;
            position: fixed;
            top: 50%;
            right: 0;
            transform: translateY(-50%);
            z-index: 1000;
        }

        #qqliaotian img {
            width: 80%;
        }
    </style>
</head>
<body itemscope>
<a id="qqliaotian" target="_blank" href="http://wpa.qq.com/msgrd?v=3&uin=462889217&site=qq&menu=yes"><img border="0"
                                                                                                          src="http://wpa.qq.com/pa?p=2:462889217:53"
                                                                                                          alt="点击这里给我发消息"
                                                                                                          title="点击这里给我发消息"/></a>
<main>
    {% include "./components/navbar.html" %}

    <section>
        <div class="spacing black-layer3 opc8">
            <div class="fixed-bg" style="background-image: url(assets/images/pg-tl-bg.jpg);"></div>
            <div class="container">
                <div class="pg-tp-wrp text-center">
                    <div class="pg-tp-inr">
                        <h1 itemprop="headline">Blog Detail With Left Sidebar</h1>
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="index.html" title="" itemprop="url">Home</a></li>
                            <li class="breadcrumb-item"><a href="blog.html" title="" itemprop="url">Blog</a></li>
                            <li class="breadcrumb-item active">Blog Detail With Left Sidebar</li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section>
        <div class="spacing">
            <div class="container">
                <div class="srv-wrp">
                    <div class="row">
                        <div class="col-md-4 col-sm-12 col-lg-4">
                            <div class="sec-tl1">
                                <i>OUR SERVICES</i>
                                <h2 itemprop="headline">What We Do For You</h2>
                                <p itemprop="description">Donec sed odio dui. Vivamus sagittis lacus vel augue laoreet
                                    rutrum faucibus dolor auctor. Donecullamcorper nulla non metus auctor fringilla.</p>
                                <a href="#" title="" itemprop="url">More Services</a>
                            </div>
                        </div>
                        <div class="col-md-8 col-sm-12 col-lg-8">
                            <div class="srv-car owl-carousel dots-center">
                                <div class="srv-bx text-center">
                                    <i class="brd-rd50"><img src="assets/images/resources/srv-icn1-1.png"
                                                             alt="srv-icn1-1.png" itemprop="image"></i>
                                    <h4 itemprop="headline"><a href="#" title="" itemprop="url">Happy Users</a></h4>
                                    <p itemprop="description">Artbees is humbled and proud to be showcased in many criti
                                        allyacclaimed blogs and online magazines.</p>
                                    <a href="#" title="" itemprop="url">Read More</a>
                                </div><!-- Service Box -->
                                <div class="srv-bx text-center">
                                    <i class="brd-rd50"><img src="assets/images/resources/srv-icn1-2.png"
                                                             alt="srv-icn1-2.png" itemprop="image"></i>
                                    <h4 itemprop="headline"><a href="#" title="" itemprop="url">Web Development</a></h4>
                                    <p itemprop="description">Artbees is humbled and proud to be showcased in many criti
                                        allyacclaimed blogs and online magazines.</p>
                                    <a href="#" title="" itemprop="url">Read More</a>
                                </div><!-- Service Box -->
                                <div class="srv-bx text-center">
                                    <i class="brd-rd50"><img src="assets/images/resources/srv-icn1-3.png"
                                                             alt="srv-icn1-3.png" itemprop="image"></i>
                                    <h4 itemprop="headline"><a href="#" title="" itemprop="url">Customer Support</a>
                                    </h4>
                                    <p itemprop="description">Artbees is humbled and proud to be showcased in many criti
                                        allyacclaimed blogs and online magazines.</p>
                                    <a href="#" title="" itemprop="url">Read More</a>
                                </div><!-- Service Box -->
                            </div><!-- Service Carousel -->
                        </div>
                    </div>
                </div><!-- What We Do Wrap -->
            </div>
        </div>
    </section>
    <section>
        <div class="spacing top-spac200 bottom-spac200">
            <div class="fixed-bg" style="background-image: url(assets/images/parlx1.jpg);"></div>
            <div id="prtcl1" class="particle-bx"></div>
            <div class="container">
                <div class="choose-plan-wrap">
                    <div class="row">
                        <div class="col-md-12 col-sm-12 col-lg-12">
                            <div class="choose-car overlap150 overlap-160 owl-carousel nav-vc">
                                <div class="plan-bx theme-bf-bg brd-rd20 text-center">
                                    <div class="plan-hdr">
                                        <i class="flaticon-043-medal"></i>
                                        <h6 itemprop="headline">Simple plan</h6>
                                        <span><sup>$</sup>10<i>/mo</i></span>
                                    </div>
                                    <div class="plan-bdy">
                                        <ul class="pln-fctr-lst">
                                            <li>240 PSD Included</li>
                                            <li>Creative Design</li>
                                            <li>Premium Stock</li>
                                            <li>Drag & Drop Layouts</li>
                                            <li>Premium Icon Design</li>
                                            <li>Support 24/07</li>
                                        </ul>
                                    </div>
                                    <a class="theme-btn hrz brd-rd3" href="#" title="" itemprop="url">SELECT PLAN</a>
                                </div>
                                <div class="plan-bx theme-bf-bg brd-rd20 text-center">
                                    <div class="plan-hdr">
                                        <i class="flaticon-056-trophy"></i>
                                        <h6 itemprop="headline">Simple plan</h6>
                                        <span><sup>$</sup>10<i>/mo</i></span>
                                    </div>
                                    <div class="plan-bdy">
                                        <ul class="pln-fctr-lst">
                                            <li>240 PSD Included</li>
                                            <li>Creative Design</li>
                                            <li>Premium Stock</li>
                                            <li>Drag & Drop Layouts</li>
                                            <li>Premium Icon Design</li>
                                            <li>Support 24/07</li>
                                        </ul>
                                    </div>
                                    <a class="theme-btn hrz brd-rd3" href="#" title="" itemprop="url">SELECT PLAN</a>
                                </div>
                                <div class="plan-bx theme-bf-bg brd-rd20 text-center">
                                    <div class="plan-hdr">
                                        <i class="flaticon-075-plug"></i>
                                        <h6 itemprop="headline">Simple plan</h6>
                                        <span><sup>$</sup>10<i>/mo</i></span>
                                    </div>
                                    <div class="plan-bdy">
                                        <ul class="pln-fctr-lst">
                                            <li>240 PSD Included</li>
                                            <li>Creative Design</li>
                                            <li>Premium Stock</li>
                                            <li>Drag & Drop Layouts</li>
                                            <li>Premium Icon Design</li>
                                            <li>Support 24/07</li>
                                        </ul>
                                    </div>
                                    <a class="theme-btn hrz brd-rd3" href="#" title="" itemprop="url">SELECT PLAN</a>
                                </div>
                            </div><!-- Choose Carousel -->
                        </div>
                        <!--<div class="col-md-4 col-sm-12 col-lg-4">-->
                        <!--<div class="sec-tl1">-->
                        <!--<i>LATEST NEWS</i>-->
                        <!--<h2 itemprop="headline">Choose the right plan</h2>-->
                        <!--<p itemprop="description">Donec sed odio dui. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Donec ullamcorper nulla non metus auctor fringilla.</p>-->
                        <!--<a class="theme-btn hrz theme-bg brd-rd3" href="#" title="" itemprop="url">SEE ALL CAMPAIGN</a>-->
                        <!--</div>-->
                        <!--</div>-->
                    </div>
                </div><!-- Choose Plan Wrap -->
            </div>
        </div>
    </section>
    <section>
        <div class="spacing top-spac70 bottom-spac60">
            <div class="fixed-bg" style="background-image: url(assets/images/ptrn1.jpg);"></div>
            <div class="sec-tl2 text-center">
                <i>LATEST NEWS</i>
                <h2 itemprop="headline">Amazing Projects</h2>
            </div>
            <div class="prjcts-wrp text-center">
                <div class="prjcts-inr theme-bg">
                    <ul class="fltr-btns">
                        <li class="active"><a data-filter="*" href="#" itemprop="url">ALL</a></li>
                        <li><a data-filter=".fltr-itm1" href="#" itemprop="url">BRANDING</a></li>
                        <li><a data-filter=".fltr-itm2" href="#" itemprop="url">BUSSINESS</a></li>
                        <li><a data-filter=".fltr-itm3" href="#" itemprop="url">CONSULTANS</a></li>
                        <li><a data-filter=".fltr-itm4" href="#" itemprop="url">GRAPHIC DESIGN</a></li>
                        <li><a data-filter=".fltr-itm5" href="#" itemprop="url">PHOTOGRAPHY</a></li>
                    </ul><!-- Filter Buttons -->
                    <div class="fltr-dta">
                        <div class="row masonry mrg">
                            <div class="col-md-4 col-sm-12 col-lg-4 fltr-itm fltr-itm1">
                                <div class="prtfl-bx text-center">
                                    <img src="assets/images/resources/prtfl-img1-1.jpg" alt="prtfl-img1-1.jpg"
                                         itemprop="image">
                                    <div class="prtfl-inf">
                                        <div class="prtfl-inf-btns">
                                            <a class="brd-rd50" data-fancybox="gallery"
                                               href="assets/images/resources/prtfl-img1-1.jpg" title=""
                                               itemprop="url"><i class="fa fa-search"></i></a>
                                            <a class="brd-rd50" href="portfolio-detail.html" title="" itemprop="url"><i
                                                class="fa fa-link"></i></a>
                                            <a class="brd-rd50" href="https://www.youtube.com/embed/_tmmqkf-7Ak"
                                               data-fancybox title="" itemprop="url"><i class="fa fa-play"></i></a>
                                        </div>
                                        <h4 itemprop="headline"><a href="portfolio-detail.html" title="" itemprop="url">colorful
                                            illustration</a></h4>
                                        <div class="prtfl-cat">
                                            <a href="#" title="" itemprop="url">Product Mockup</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-2 col-sm-12 col-lg-2 fltr-itm fltr-itm2">
                                <div class="prtfl-bx text-center">
                                    <img src="assets/images/resources/prtfl-img1-2.jpg" alt="prtfl-img1-2.jpg"
                                         itemprop="image">
                                    <div class="prtfl-inf">
                                        <div class="prtfl-inf-btns">
                                            <a class="brd-rd50" data-fancybox="gallery"
                                               href="assets/images/resources/prtfl-img1-2.jpg" title=""
                                               itemprop="url"><i class="fa fa-search"></i></a>
                                            <a class="brd-rd50" href="portfolio-detail.html" title="" itemprop="url"><i
                                                class="fa fa-link"></i></a>
                                            <a class="brd-rd50" href="https://www.youtube.com/embed/_tmmqkf-7Ak"
                                               data-fancybox title="" itemprop="url"><i class="fa fa-play"></i></a>
                                        </div>
                                        <h4 itemprop="headline"><a href="portfolio-detail.html" title="" itemprop="url">colorful
                                            illustration</a></h4>
                                        <div class="prtfl-cat">
                                            <a href="#" title="" itemprop="url">Product Mockup</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4 col-sm-12 col-lg-4 fltr-itm fltr-itm3">
                                <div class="prtfl-bx text-center">
                                    <img src="assets/images/resources/prtfl-img1-3.jpg" alt="prtfl-img1-3.jpg"
                                         itemprop="image">
                                    <div class="prtfl-inf">
                                        <div class="prtfl-inf-btns">
                                            <a class="brd-rd50" data-fancybox="gallery"
                                               href="assets/images/resources/prtfl-img1-3.jpg" title=""
                                               itemprop="url"><i class="fa fa-search"></i></a>
                                            <a class="brd-rd50" href="portfolio-detail.html" title="" itemprop="url"><i
                                                class="fa fa-link"></i></a>
                                            <a class="brd-rd50" href="https://www.youtube.com/embed/_tmmqkf-7Ak"
                                               data-fancybox title="" itemprop="url"><i class="fa fa-play"></i></a>
                                        </div>
                                        <h4 itemprop="headline"><a href="portfolio-detail.html" title="" itemprop="url">colorful
                                            illustration</a></h4>
                                        <div class="prtfl-cat">
                                            <a href="#" title="" itemprop="url">Product Mockup</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-2 col-sm-6 col-lg-2 fltr-itm fltr-itm4">
                                <div class="prtfl-bx text-center">
                                    <img src="assets/images/resources/prtfl-img1-4.jpg" alt="prtfl-img1-4.jpg"
                                         itemprop="image">
                                    <div class="prtfl-inf">
                                        <div class="prtfl-inf-btns">
                                            <a class="brd-rd50" data-fancybox="gallery"
                                               href="assets/images/resources/prtfl-img1-4.jpg" title=""
                                               itemprop="url"><i class="fa fa-search"></i></a>
                                            <a class="brd-rd50" href="portfolio-detail.html" title="" itemprop="url"><i
                                                class="fa fa-link"></i></a>
                                            <a class="brd-rd50" href="https://www.youtube.com/embed/_tmmqkf-7Ak"
                                               data-fancybox title="" itemprop="url"><i class="fa fa-play"></i></a>
                                        </div>
                                        <h4 itemprop="headline"><a href="portfolio-detail.html" title="" itemprop="url">colorful
                                            illustration</a></h4>
                                        <div class="prtfl-cat">
                                            <a href="#" title="" itemprop="url">Product Mockup</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-2 col-sm-6 col-lg-2 fltr-itm fltr-itm5">
                                <div class="prtfl-bx text-center">
                                    <img src="assets/images/resources/prtfl-img1-5.jpg" alt="prtfl-img1-5.jpg"
                                         itemprop="image">
                                    <div class="prtfl-inf">
                                        <div class="prtfl-inf-btns">
                                            <a class="brd-rd50" data-fancybox="gallery"
                                               href="assets/images/resources/prtfl-img1-5.jpg" title=""
                                               itemprop="url"><i class="fa fa-search"></i></a>
                                            <a class="brd-rd50" href="portfolio-detail.html" title="" itemprop="url"><i
                                                class="fa fa-link"></i></a>
                                            <a class="brd-rd50" href="https://www.youtube.com/embed/_tmmqkf-7Ak"
                                               data-fancybox title="" itemprop="url"><i class="fa fa-play"></i></a>
                                        </div>
                                        <h4 itemprop="headline"><a href="portfolio-detail.html" title="" itemprop="url">colorful
                                            illustration</a></h4>
                                        <div class="prtfl-cat">
                                            <a href="#" title="" itemprop="url">Product Mockup</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4 col-sm-12 col-lg-4 fltr-itm fltr-itm1">
                                <div class="prtfl-bx text-center">
                                    <img src="assets/images/resources/prtfl-img1-6.jpg" alt="prtfl-img1-6.jpg"
                                         itemprop="image">
                                    <div class="prtfl-inf">
                                        <div class="prtfl-inf-btns">
                                            <a class="brd-rd50" data-fancybox="gallery"
                                               href="assets/images/resources/prtfl-img1-6.jpg" title=""
                                               itemprop="url"><i class="fa fa-search"></i></a>
                                            <a class="brd-rd50" href="portfolio-detail.html" title="" itemprop="url"><i
                                                class="fa fa-link"></i></a>
                                            <a class="brd-rd50" href="https://www.youtube.com/embed/_tmmqkf-7Ak"
                                               data-fancybox title="" itemprop="url"><i class="fa fa-play"></i></a>
                                        </div>
                                        <h4 itemprop="headline"><a href="portfolio-detail.html" title="" itemprop="url">colorful
                                            illustration</a></h4>
                                        <div class="prtfl-cat">
                                            <a href="#" title="" itemprop="url">Product Mockup</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-2 col-sm-12 col-lg-2 fltr-itm fltr-itm2">
                                <div class="prtfl-bx text-center">
                                    <img src="assets/images/resources/prtfl-img1-7.jpg" alt="prtfl-img1-7.jpg"
                                         itemprop="image">
                                    <div class="prtfl-inf">
                                        <div class="prtfl-inf-btns">
                                            <a class="brd-rd50" data-fancybox="gallery"
                                               href="assets/images/resources/prtfl-img1-7.jpg" title=""
                                               itemprop="url"><i class="fa fa-search"></i></a>
                                            <a class="brd-rd50" href="portfolio-detail.html" title="" itemprop="url"><i
                                                class="fa fa-link"></i></a>
                                            <a class="brd-rd50" href="https://www.youtube.com/embed/_tmmqkf-7Ak"
                                               data-fancybox title="" itemprop="url"><i class="fa fa-play"></i></a>
                                        </div>
                                        <h4 itemprop="headline"><a href="portfolio-detail.html" title="" itemprop="url">colorful
                                            illustration</a></h4>
                                        <div class="prtfl-cat">
                                            <a href="#" title="" itemprop="url">Product Mockup</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4 col-sm-12 col-lg-4 fltr-itm fltr-itm3">
                                <div class="prtfl-bx text-center">
                                    <img src="assets/images/resources/prtfl-img1-8.jpg" alt="prtfl-img1-8.jpg"
                                         itemprop="image">
                                    <div class="prtfl-inf">
                                        <div class="prtfl-inf-btns">
                                            <a class="brd-rd50" data-fancybox="gallery"
                                               href="assets/images/resources/prtfl-img1-8.jpg" title=""
                                               itemprop="url"><i class="fa fa-search"></i></a>
                                            <a class="brd-rd50" href="portfolio-detail.html" title="" itemprop="url"><i
                                                class="fa fa-link"></i></a>
                                            <a class="brd-rd50" href="https://www.youtube.com/embed/_tmmqkf-7Ak"
                                               data-fancybox title="" itemprop="url"><i class="fa fa-play"></i></a>
                                        </div>
                                        <h4 itemprop="headline"><a href="portfolio-detail.html" title="" itemprop="url">colorful
                                            illustration</a></h4>
                                        <div class="prtfl-cat">
                                            <a href="#" title="" itemprop="url">Product Mockup</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="fltr-btm">
                        <h3 itemprop="headline">See more projects? Let's check now</h3>
                        <a class="theme-btn hrz" href="portfolio.html" title="" itemprop="url">View All Projects</a>
                    </div>
                </div>
            </div><!-- Projects Wrap -->
        </div>
    </section>
    <section>
        <div class="spacing top-spac80 bottom-spac0">
            <div class="container">
                <div class="testi-spnsr">
                    <div class="row">
                        <div class="col-md-6 col-sm-12 col-lg-6">
                            <div class="testi-car owl-carousel">
                                <div class="testi-bx">
                                    <p itemprop="description">I think this is the best PSD on themeforest. There are
                                        just so many ideas and each PSD is perfectly organised. This must have taken you
                                        months to create. I can’t wait to see a Wordpress theme of this. Buy with
                                        complete confidence.</p>
                                    <h6 itemprop="headline">Mass Themes - Themeforest</h6>
                                </div>
                                <div class="testi-bx">
                                    <p itemprop="description">I think this is the best PSD on themeforest. There are
                                        just so many ideas and each PSD is perfectly organised. This must have taken you
                                        months to create. I can’t wait to see a Wordpress theme of this. Buy with
                                        complete confidence.</p>
                                    <h6 itemprop="headline">Mass Themes - Themeforest</h6>
                                </div>
                            </div><!-- Testimonials Carousel -->
                        </div>
                        <div class="col-md-6 col-sm-12 col-lg-6">
                            <div class="spnsr-car text-center owl-carousel">
                                <div class="spnsr-bx">
                                    <a href="#" title="" itemprop="url"><img src="assets/images/resources/spnsr1.png"
                                                                             alt="spnsr1.png" itemprop="image"></a>
                                </div>
                                <div class="spnsr-bx">
                                    <a href="#" title="" itemprop="url"><img src="assets/images/resources/spnsr2.png"
                                                                             alt="spnsr2.png" itemprop="image"></a>
                                </div>
                                <div class="spnsr-bx">
                                    <a href="#" title="" itemprop="url"><img src="assets/images/resources/spnsr3.png"
                                                                             alt="spnsr3.png" itemprop="image"></a>
                                </div>
                                <div class="spnsr-bx">
                                    <a href="#" title="" itemprop="url"><img src="assets/images/resources/spnsr4.png"
                                                                             alt="spnsr4.png" itemprop="image"></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div><!-- Testimonials & Sponsors -->
            </div>
        </div>
    </section>
    <section>
        <div class="spacing top-spac70">
            <div class="container">
                <div class="sec-tl2 text-center">
                    <i>LATEST NEWS</i>
                    <h2 class="no-bf" itemprop="headline">From Blog News</h2>
                </div>
                <div class="remove-ext3">
                    <div class="row">
                        <div class="col-md-4 col-sm-6 col-lg-4">
                            <div class="post-bx text-center">
                                <div class="post-thumb hrz brd-rd3">
                                    <a href="blog-detail-left-sidebar.html" title="" itemprop="url"><img
                                        src="assets/images/resources/post-img1-1.jpg" alt="post-img1-1.jpg"
                                        itemprop="image"></a>
                                </div>
                                <div class="post-info">
                                    <h4 itemprop="headline"><a href="blog-detail-left-sidebar.html" title=""
                                                               itemprop="url">India launches 'monster' rocket</a></h4>
                                    <ul class="post-meta">
                                        <li>By <a href="#" title="" itemprop="url">userthemes</a></li>
                                        <li>February 3, 2015 in <a href="#" title="" itemprop="url">Society</a></li>
                                    </ul>
                                    <p itemprop="description">Integer posuere erat a ante venenatis dapibus posuere
                                        velit aliquetpraesent commodo cursus magna.</p>
                                    <a class="theme-btn hrz brd-rd3 theme-bf-bg" href="blog-detail-left-sidebar.html"
                                       title="" itemprop="url">READ MORE</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-6 col-lg-4">
                            <div class="post-bx text-center">
                                <div class="post-thumb hrz brd-rd3">
                                    <a href="blog-detail-left-sidebar.html" title="" itemprop="url"><img
                                        src="assets/images/resources/post-img1-2.jpg" alt="post-img1-2.jpg"
                                        itemprop="image"></a>
                                </div>
                                <div class="post-info">
                                    <h4 itemprop="headline"><a href="blog-detail-left-sidebar.html" title=""
                                                               itemprop="url">India launches 'monster' rocket</a></h4>
                                    <ul class="post-meta">
                                        <li>By <a href="#" title="" itemprop="url">userthemes</a></li>
                                        <li>February 3, 2015 in <a href="#" title="" itemprop="url">Society</a></li>
                                    </ul>
                                    <p itemprop="description">Integer posuere erat a ante venenatis dapibus posuere
                                        velit aliquetpraesent commodo cursus magna.</p>
                                    <a class="theme-btn hrz brd-rd3 theme-bf-bg" href="blog-detail-left-sidebar.html"
                                       title="" itemprop="url">READ MORE</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-6 col-lg-4">
                            <div class="post-bx text-center">
                                <div class="post-thumb hrz brd-rd3">
                                    <a href="blog-detail-left-sidebar.html" title="" itemprop="url"><img
                                        src="assets/images/resources/post-img1-3.jpg" alt="post-img1-3.jpg"
                                        itemprop="image"></a>
                                </div>
                                <div class="post-info">
                                    <h4 itemprop="headline"><a href="blog-detail-left-sidebar.html" title=""
                                                               itemprop="url">India launches 'monster' rocket</a></h4>
                                    <ul class="post-meta">
                                        <li>By <a href="#" title="" itemprop="url">userthemes</a></li>
                                        <li>February 3, 2015 in <a href="#" title="" itemprop="url">Society</a></li>
                                    </ul>
                                    <p itemprop="description">Integer posuere erat a ante venenatis dapibus posuere
                                        velit aliquetpraesent commodo cursus magna.</p>
                                    <a class="theme-btn hrz brd-rd3 theme-bf-bg" href="blog-detail-left-sidebar.html"
                                       title="" itemprop="url">READ MORE</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section>
        <div class="spacing top-spac190 bottom-spac0">
            <div class="fixed-bg2" style="background-image: url(assets/images/parlx2.jpg);"></div>
            <div class="container">
                <div class="vdo-wrp">
                    <div class="row">
                        <div class="col-md-6 col-sm-12 col-lg-6">
                            <div class="vdo-bx brd-rd10 theme-bf-bg">
                                <img src="assets/images/resources/vdo-img.jpg" alt="vdo-img.jpg" itemprop="image">
                                <a class="brd-rd50" data-fancybox href="#" title="" itemprop="url"><i
                                    class="fa fa-play"></i></a>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-12 col-lg-6">
                            <div class="vdo-info">
                                <h2 itemprop="headline">Check <i class="theme-clr">Video Presentation to</i> find out
                                    More About us</h2>
                                <p itemprop="description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras
                                    aliquam sagittis ex, ac finibus lectus lacinia a. Mauris non ligula nec libero
                                    finibus blandit. Vestibulum volutpat sagittis dolor nec euismod. Vivamus in
                                    scelerisque elit. Donec odio orci, placerat non leo ac, mollis pellentesque est.
                                    Etiam sit amet imperdiet tellus.</p>
                                <a class="theme-btn hrz theme-bf-bg brd-rd3" href="#" title="" itemprop="url">PURCHASE
                                    NOW</a>
                            </div>
                        </div>
                    </div>
                </div><!-- Video Wrap -->
            </div>
        </div>
    </section>
    <section>
        <div class="spacing">
            <div class="fixed-bg" style="background-image: url(assets/images/parlx3.jpg);"></div>
            <div class="container">
                <div class="get-tuch-wrp">
                    <div class="row">
                        <div class="col-md-7 col-sm-12 col-lg-7">
                            <div class="sec-tl2 wht-clr text-center">
                                <i>CONTACT US</i>
                                <h2 class="no-bf" itemprop="headline">联系我们</h2>
                            </div>
                            <div class="cnt-frm-wrp text-center">
                                <form>
                                    <div class="row mrg20">
                                        <div class="col-md-6 col-sm-6 col-lg-6">
                                            <input type="text" placeholder="Name" class="brd-rd3">
                                        </div>
                                        <div class="col-md-6 col-sm-6 col-lg-6">
                                            <input type="text" placeholder="Name" class="brd-rd3">
                                        </div>
                                        <div class="col-md-6 col-sm-6 col-lg-6">
                                            <input type="text" placeholder="Name" class="brd-rd3">
                                        </div>
                                        <div class="col-md-6 col-sm-6 col-lg-6">
                                            <input type="text" placeholder="Name" class="brd-rd3">
                                        </div>
                                        <div class="col-md-6 col-sm-6 col-lg-6">
                                            <input type="text" placeholder="Name" class="brd-rd3">
                                        </div>
                                        <div class="col-md-6 col-sm-6 col-lg-6">
                                            <input type="text" placeholder="Name" class="brd-rd3">
                                        </div>
                                        <div class="col-md-6 col-sm-6 col-lg-6">
                                            <input type="text" placeholder="Name" class="brd-rd3">
                                        </div>
                                        <div class="col-md-6 col-sm-6 col-lg-6">
                                            <input type="email" placeholder="Email" class="brd-rd3">
                                        </div>
                                        <div class="col-md-12 col-sm-12 col-lg-12">
                                            <textarea placeholder="Message" class="brd-rd3"></textarea>
                                        </div>
                                        <div class="col-md-12 col-sm-12 col-lg-12">
                                            <button class="theme-btn hrz brd-rd3 theme-bf-bg" type="submit">SUBMIT NOW
                                            </button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <div class="col-md-5 col-sm-12 col-lg-5">
                            <div class="cnt-inf-wrp cnt-inf-car owl-carousel theme-bg" style="margin-top: 150px;">
                                <div class="cnt-inf-itm">
                                    <h4 itemprop="headline">Branch office #1</h4>
                                    <ul class="cnt-inf-lst">
                                        <li><i class="fa fa-map-marker"></i> Reterseiland Campus Building E, 10th floor
                                            Amsterdam
                                        </li>
                                        <li><i class="fa fa-clock-o"></i> Monday to Friday: 9am to 8pm</li>
                                        <li><i class="fa fa-envelope-o"></i> <a href="#" title="" itemprop="url">simple@email.com</a>
                                        </li>
                                        <li><i class="fa fa-mobile"></i> 9283-984-938</li>
                                    </ul>
                                </div>
                                <div class="cnt-inf-itm">
                                    <h4 itemprop="headline">Branch office #2</h4>
                                    <ul class="cnt-inf-lst">
                                        <li><i class="fa fa-map-marker"></i> Reterseiland Campus Building E, 10th floor
                                            Amsterdam
                                        </li>
                                        <li><i class="fa fa-clock-o"></i> Monday to Friday: 9am to 8pm</li>
                                        <li><i class="fa fa-envelope-o"></i> <a href="#" title="" itemprop="url">simple@email.com</a>
                                        </li>
                                        <li><i class="fa fa-mobile"></i> 9283-984-938</li>
                                    </ul>
                                </div>
                                <div class="cnt-inf-itm">
                                    <h4 itemprop="headline">Branch office #3</h4>
                                    <ul class="cnt-inf-lst">
                                        <li><i class="fa fa-map-marker"></i> Reterseiland Campus Building E, 10th floor
                                            Amsterdam
                                        </li>
                                        <li><i class="fa fa-clock-o"></i> Monday to Friday: 9am to 8pm</li>
                                        <li><i class="fa fa-envelope-o"></i> <a href="#" title="" itemprop="url">simple@email.com</a>
                                        </li>
                                        <li><i class="fa fa-mobile"></i> 9283-984-938</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div><!-- Get In Touch Wrap -->
            </div>
        </div>
    </section>
    {% include "./components/footer.html" %}
</main><!-- Main Wrapper -->

<script src="assets/js/jquery.min.js"></script>
<script src="assets/js/bootstrap.min.js"></script>
<script src="assets/js/plugins.min.js"></script>
<script src="assets/js/part-int.js"></script>
<script src="assets/js/custom-scripts.js"></script>

<!-- Revolution JS Files -->
<script src="assets/js/revolution/jquery.themepunch.tools.min.js"></script>
<script src="assets/js/revolution/jquery.themepunch.revolution.min.js"></script>

<!-- Slider Revolution 5.0 Extensions -->
<script src="assets/js/revolution/extensions/revolution.extension.actions.min.js"></script>
<script src="assets/js/revolution/extensions/revolution.extension.carousel.min.js"></script>
<script src="assets/js/revolution/extensions/revolution.extension.kenburn.min.js"></script>
<script src="assets/js/revolution/extensions/revolution.extension.layeranimation.min.js"></script>
<script src="assets/js/revolution/extensions/revolution.extension.migration.min.js"></script>
<script src="assets/js/revolution/extensions/revolution.extension.navigation.min.js"></script>
<script src="assets/js/revolution/extensions/revolution.extension.parallax.min.js"></script>
<script src="assets/js/revolution/extensions/revolution.extension.slideanims.min.js"></script>
<script src="assets/js/revolution/extensions/revolution.extension.video.min.js"></script>
<script src="assets/js/revolution/revolution-init.js"></script>
</body>
</html>
