<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content=""/>
    <meta name="keywords" content=""/>
    <title>泽桥官网</title>

    <link rel="stylesheet" href="assets/css/webfonts.css?version={{ version }}">
    <link rel="stylesheet" href="assets/css/bootstrap.min.css?version={{ version }}">
    <link rel="stylesheet" href="assets/css/plugins.min.css?version={{ version }}">
    <link rel="stylesheet" href="assets/css/style.css?version={{ version }}">
    <link rel="stylesheet" href="assets/css/color.css?version={{ version }}">
    <link rel="stylesheet" href="assets/css/responsive.css?version={{ version }}">

    <!-- Revolution Style -->
    <link rel="stylesheet" href="assets/css/revolution/settings.css?version={{ version }}">
    <link rel="stylesheet" href="assets/css/revolution/navigation.css?version={{ version }}">
</head>
<body itemscope>
{% include "./components/qq.html" %}
{% if status=='0' %}
<div class="alert alert-success" style="margin: 0;" role="alert">提交成功！</div>
{% endif %}
<main>
    {% include "./components/navbar.html" %}
    <section id="home" class="font-pangmen">
        <div class="spacing black-layer3 opc1">
            <div class="fixed-bg" style="background-image: url(assets/images/big/1920x530.jpg);"></div>
            <div id="prtcl2" class="particle-bx"></div>
            <div class="container">
                <div class="pg-tp-wrp text-center" style="float: none;">
                    <div class="pg-tp-inr spacing top-spac80 bottom-spac0">
                        <h1 style="font-size: 80px;" itemprop="headline">医学&nbsp;&nbsp;<span style="color:#fab702;" class="theme-clr">传媒</span>&nbsp;&nbsp;科技</h1>
                        <h1 style="font-size: 35px;margin-left: 60px;" itemprop="headline">MEDICAl<span style="color:#fab702;margin:0 80px 0 110px;" class="theme-clr">MEDIA</span>TECHNOLOGY</h1>
                        <!--<ol class="breadcrumb">-->
                            <!--<li class="breadcrumb-item active">MEDICAL</li>-->
                            <!--<li class="breadcrumb-item active">MEDIA</li>-->
                            <!--<li class="breadcrumb-item active">TECHNOLOGY</li>-->
                        <!--</ol>-->
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="about-us">
        <div class="spacing bottom-spac60">
            <div class="container">
                <div class="srv-wrp">
                    <div class="row">
                        <div class="col-md-4 col-sm-12 col-lg-4">
                            <div class="sec-tl1">
                                <!--<i>OUR SERVICES</i>-->
                                <h2 itemprop="headline" class="font-pangmen">关于泽桥</h2>
                                <p itemprop="description">立足于医疗领域，专注于健康传播内容与技术创新。企业有“医阶”“医视屏”“泽桥医生”三大国内有影响力的医学传播平台。</p>
                                <a href="/about-us" title="" itemprop="url">MORE</a>
                            </div>
                        </div>
                        <div class="col-md-8 col-sm-12 col-lg-8">
                            <div class="srv-car owl-carousel dots-center">
                                <div class="srv-bx text-center">
                                    <i class="brd-rd50"><img src="assets/images/icon/100x100service.png"
                                                             alt="srv-icn1-1.png" itemprop="image"></i>
                                    <h4 itemprop="headline"><a href="#" title="" itemprop="url" class="font-pangmen">医学服务</a></h4>
                                    <p itemprop="description">立足于医疗领域，专注于健康传播内容与技术创新。</p>
                                    <a href="/about-us" title="" itemprop="url">MORE</a>
                                </div><!-- Service Box -->
                                <div class="srv-bx text-center">
                                    <i class="brd-rd50"><img src="assets/images/icon/100x100healthy.png"
                                                             alt="srv-icn1-2.png" itemprop="image"></i>
                                    <h4 itemprop="headline"><a href="#" title="" itemprop="url" class="font-pangmen">健康传播</a></h4>
                                    <p itemprop="description">企业有“医阶”“医视屏”“泽桥医生”三大国内有影响力的医学传播平台。</p>
                                    <a href="/about-us" title="" itemprop="url">MORE</a>
                                </div><!-- Service Box -->
                            </div><!-- Service Carousel -->
                        </div>
                    </div>
                </div><!-- What We Do Wrap -->
            </div>
        </div>
    </section>
    <section id="products" style="height: 100px;"></section>
    <section>
        <div class="spacing">
            <div class="fixed-bg" style="background-image: url(assets/images/big/1920x688.jpg);"></div>
            <div id="prtcl1" class="particle-bx"></div>
            <div class="container">
                <div class="choose-plan-wrap">
                    <div class="row">
                        <div class="col-md-12 col-sm-12 col-lg-12">
                            <div class="choose-car overlap150 overlap-160 owl-carousel nav-vc">
                                <div class="plan-bx theme-bf-bg brd-rd20 text-center" style="background-image: url(assets/images/main-pro/yijie.jpg);">
                                    <div class="plan-hdr">
                                        <div class="icon-main-pro" style="background-image: url(assets/images/main-pro/icon-yijie.png)"></div>
                                        <!--<i class="flaticon-043-medal"></i>-->
                                        <!--<h6 itemprop="headline">医阶</h6>-->
                                        <!--<span><sup>$</sup>10<i>/mo</i></span>-->
                                    </div>
                                    <div class="plan-bdy">
                                        <ul class="pln-fctr-lst">
                                            <li>中国医生终身职业教育</li>
                                            <li>最信赖的伙伴</li>
                                        </ul>
                                    </div>
                                    <a class="theme-btn hrz brd-rd3 trans" href="/yijie" title="" itemprop="url">more</a>
                                </div>
                                <div class="plan-bx theme-bf-bg brd-rd20 text-center" style="background-image: url(assets/images/main-pro/yishiping.jpg);">
                                    <div class="plan-hdr">
                                        <div class="icon-main-pro" style="background-image: url(assets/images/main-pro/icon-yishiping.png)"></div>
                                        <!--<i class="flaticon-056-trophy"></i>-->
                                        <!--<h6 itemprop="headline">医视屏</h6>-->
                                        <!--<span><sup>$</sup>10<i>/mo</i></span>-->
                                    </div>
                                    <div class="plan-bdy">
                                        <ul class="pln-fctr-lst">
                                            <li>助力中国医生终身职业教育</li>
                                            <li>最权威的医学视频大百科</li>
                                            <li>省时、省心、高质、高效</li>
                                        </ul>
                                    </div>
                                    <a class="theme-btn hrz brd-rd3 trans" href="/yishiping" title="" itemprop="url">more</a>
                                </div>
                                <div class="plan-bx theme-bf-bg brd-rd20 text-center" style="background-image: url(assets/images/main-pro/zeqiaodoc.jpg);">
                                    <div class="plan-hdr">
                                        <div class="icon-main-pro" style="background-image: url(assets/images/main-pro/icon-yisheng.png)"></div>
                                        <!--<i class="flaticon-075-plug"></i>-->
                                        <!--<h6 itemprop="headline">泽桥医生</h6>-->
                                        <!--<span><sup>$</sup>10<i>/mo</i></span>-->
                                    </div>
                                    <div class="plan-bdy">
                                        <ul class="pln-fctr-lst">
                                            <li>当你面对疾病不知所措时</li>
                                            <li> 泽桥医生为你保驾护航</li>
                                        </ul>
                                    </div>
                                    <a class="theme-btn hrz brd-rd3 trans" href="/zq-doctor" title="" itemprop="url">more</a>
                                </div>
                            </div><!-- Choose Carousel -->
                        </div>
                        <!--<div class="col-md-4 col-sm-12 col-lg-4">-->
                        <!--<div class="sec-tl1">-->
                        <!--<i>LATEST NEWS</i>-->
                        <!--<h2 itemprop="headline">Choose the right plan</h2>-->
                        <!--<p itemprop="description">Donec sed odio dui. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Donec ullamcorper nulla non metus auctor fringilla.</p>-->
                        <!--<a class="theme-btn hrz theme-bg brd-rd3" href="#" title="" itemprop="url">SEE ALL CAMPAIGN</a>-->
                        <!--</div>-->
                        <!--</div>-->
                    </div>
                </div><!-- Choose Plan Wrap -->
            </div>
        </div>
    </section>
    <section>
        <div class="spacing top-spac200 bottom-spac0">
            <div class="sec-tl2 text-center">
                <i>cooperation</i>
                <h2 itemprop="headline">企业合作</h2>
            </div>
            <div class="col-md-10 col-sm-10 col-lg-10" style="margin: 0 auto;">
                <img src="assets/images/big/1920x1080.jpg" style="width: 100%;" alt="">
            </div>
        </div>
    </section>
    <section id="works">
        <div class="spacing top-spac70 bottom-spac60">
            <div class="fixed-bg" style="background-image: url(assets/images/big/1920x1600.jpg);"></div>
            <div class="sec-tl2 wht-clr text-center">
                <i>WORKS DISPLAY</i>
                <h2 itemprop="headline">作品展示</h2>
            </div>
            <div class="prjcts-wrp text-center">
                <div class="prjcts-inr theme-bg" style="background: #fff;">
                    <ul class="fltr-btns">
                        <li class="active" style="font-family: pangmen">人文企业宣传</li>
                        <!--<li><a data-filter=".fltr-itm1" href="#" itemprop="url">BRANDING</a></li>-->
                        <!--<li><a data-filter=".fltr-itm2" href="#" itemprop="url">BUSSINESS</a></li>-->
                        <!--<li><a data-filter=".fltr-itm3" href="#" itemprop="url">CONSULTANS</a></li>-->
                        <!--<li><a data-filter=".fltr-itm4" href="#" itemprop="url">GRAPHIC DESIGN</a></li>-->
                        <!--<li><a data-filter=".fltr-itm5" href="#" itemprop="url">PHOTOGRAPHY</a></li>-->
                    </ul><!-- Filter Buttons -->
                    <div class="fltr-dta">
                        <div class="row masonry mrg">
                            <div class="col-md-4 col-sm-12 col-lg-4 fltr-itm fltr-itm1">
                                <div class="prtfl-bx text-center">
                                    <img src="assets/images/pro/509x334新医人快闪.jpg" alt="prtfl-img1-1.jpg"
                                         itemprop="image">
                                    <div class="prtfl-inf">
                                        <div class="prtfl-inf-btns">
                                            <!--<a class="brd-rd50" data-fancybox="gallery"-->
                                            <!--href="assets/images/resources/prtfl-img1-1.jpg" title=""-->
                                            <!--itemprop="url"><i class="fa fa-search"></i></a>-->
                                            <!--<a class="brd-rd50" href="####" title="" itemprop="url"><i-->
                                            <!--class="fa fa-link"></i></a>-->
                                            <a class="brd-rd50"
                                               href="http://medicalvideo.oss-cn-beijing.aliyuncs.com/hxs/02%E7%AC%AC%E4%BA%8C%E7%89%87-%E5%90%83%E9%B8%A1-%E6%96%B0%E5%8C%BB%E4%BA%BA%E5%BF%AB%E9%97%AA1080P.mp4"
                                               data-fancybox title="" itemprop="url"><i class="fa fa-play"></i></a>
                                        </div>
                                        <h4 itemprop="headline"><a href="####" title="" itemprop="url">新医人快闪</a></h4>
                                        <!--<div class="prtfl-cat">-->
                                        <!--<a href="#" title="" itemprop="url">Product Mockup</a>-->
                                        <!--</div>-->
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-2 col-sm-12 col-lg-2 fltr-itm fltr-itm2">
                                <div class="prtfl-bx text-center">
                                    <img src="assets/images/pro/339x445科普和媒体有啥关系.jpg" alt="prtfl-img1-6.jpg"
                                         itemprop="image">
                                    <div class="prtfl-inf">
                                        <div class="prtfl-inf-btns">
                                            <a class="brd-rd50"
                                               href="http://medicalvideo.oss-cn-beijing.aliyuncs.com/hxs/%E6%94%AF%E4%BF%AE%E7%9B%8A%20%E8%AF%BE%E7%A8%8B3.mp4"
                                               data-fancybox title="" itemprop="url"><i class="fa fa-play"></i></a>
                                        </div>
                                        <h4 itemprop="headline"><a href="####" title="" itemprop="url">科普和媒体有啥关系-支修益</a></h4>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4 col-sm-12 col-lg-4 fltr-itm fltr-itm3">
                                <div class="prtfl-bx text-center">
                                    <img src="assets/images/pro/509x334薪火防痨人.jpg" alt="prtfl-img1-2.jpg"
                                         itemprop="image">
                                    <div class="prtfl-inf">
                                        <div class="prtfl-inf-btns">
                                            <a class="brd-rd50"
                                               href="http://medicalvideo.oss-cn-beijing.aliyuncs.com/hxs/1%20%E8%96%AA%E7%81%AB%E9%98%B2%E7%97%A8%E4%BA%BA%20%20%E6%9D%8E%E4%BA%AE%2001%20%E8%80%81%E7%89%A9%E4%BB%B6%E6%89%BF%E8%BD%BD%E8%80%85%E9%98%B2%E7%97%A8%E4%BA%BA%E7%9A%84%E5%8E%86%E5%8F%B2%E6%95%85%E4%BA%8B.mp4"
                                               data-fancybox title="" itemprop="url"><i class="fa fa-play"></i></a>
                                        </div>
                                        <h4 itemprop="headline"><a href="####" title="" itemprop="url">薪火防痨人-李亮</a></h4>
                                    </div>
                                </div>

                            </div>
                            <div class="col-md-2 col-sm-6 col-lg-2 fltr-itm fltr-itm4">
                                <div class="prtfl-bx text-center">
                                    <img src="assets/images/pro/339x445医管访谈录.jpg" alt="prtfl-img1-4.jpg"
                                         itemprop="image">
                                    <div class="prtfl-inf">
                                        <div class="prtfl-inf-btns">
                                            <a class="brd-rd50"
                                               href="http://medicalvideo.oss-cn-beijing.aliyuncs.com/hxs/%E4%BD%99%E5%AD%A6%E6%B8%85.mp4"
                                               data-fancybox title="" itemprop="url"><i class="fa fa-play"></i></a>
                                        </div>
                                        <h4 itemprop="headline"><a href="####" title="" itemprop="url">医管访谈录-余学清</a></h4>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-2 col-sm-6 col-lg-2 fltr-itm fltr-itm5">
                                <div class="prtfl-bx text-center">
                                    <img src="assets/images/pro/339x445胸外手术叶波.jpg" alt="prtfl-img1-5.jpg"
                                         itemprop="image">
                                    <div class="prtfl-inf">
                                        <div class="prtfl-inf-btns">
                                            <a class="brd-rd50"
                                               href="http://medicalvideo.oss-cn-beijing.aliyuncs.com/hxs/%E5%8F%B6%E6%B3%A2-%E7%AC%AC%E4%B8%89%E7%89%88%E6%9C%AC%E9%AB%98%E6%B8%85.mp4"
                                               data-fancybox title="" itemprop="url"><i class="fa fa-play"></i></a>
                                        </div>
                                        <h4 itemprop="headline"><a href="####" title="" itemprop="url">胸外手术-叶波</a>
                                        </h4>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4 col-sm-12 col-lg-4 fltr-itm fltr-itm1">
                                <div class="prtfl-bx text-center">
                                    <img src="assets/images/pro/509x334扬子江.jpg" alt="prtfl-img1-3.jpg"
                                         itemprop="image">
                                    <div class="prtfl-inf">
                                        <div class="prtfl-inf-btns">
                                            <a class="brd-rd50"
                                               href="http://medicalvideo.oss-cn-beijing.aliyuncs.com/hxs/2.2.1%E3%80%81%E6%89%AC%E5%AD%90%E6%B1%9F-%E5%8F%B3%E7%BE%8E%E6%89%98%E5%92%AA%E5%AE%9A.mp4"
                                               data-fancybox title="" itemprop="url"><i class="fa fa-play"></i></a>
                                        </div>
                                        <h4 itemprop="headline"><a href="####" title="" itemprop="url">右美托咪定-扬子江</a>
                                        </h4>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-2 col-sm-12 col-lg-2 fltr-itm fltr-itm2">
                                <div class="prtfl-bx text-center">
                                    <img src="assets/images/pro/339x445阳性肺癌患者.jpg" alt="prtfl-img1-8.jpg"
                                         itemprop="image">
                                    <div class="prtfl-inf">
                                        <div class="prtfl-inf-btns">
                                            <a class="brd-rd50"
                                               href="http://medicalvideo.oss-cn-beijing.aliyuncs.com/hxs/%E9%99%86%E8%88%9C%20%E6%8A%96%E9%9F%B3.mp4"
                                               data-fancybox title="" itemprop="url"><i class="fa fa-play"></i></a>
                                        </div>
                                        <h4 itemprop="headline"><a href="####" title="" itemprop="url">阳性肺癌患者治疗-陆舜</a></h4>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4 col-sm-12 col-lg-4 fltr-itm fltr-itm3">
                                <div class="prtfl-bx text-center">
                                    <img src="assets/images/pro/509x334潘博.jpg" alt="prtfl-img1-7.jpg"
                                         itemprop="image">
                                    <div class="prtfl-inf">
                                        <div class="prtfl-inf-btns">
                                            <a class="brd-rd50"
                                               href="http://medicalvideo.oss-cn-beijing.aliyuncs.com/hxs/%E6%BD%98%E5%8D%9A.mp4"
                                               data-fancybox title="" itemprop="url"><i class="fa fa-play"></i></a>
                                        </div>
                                        <h4 itemprop="headline"><a href="####" title="" itemprop="url">医视屏精品课</a></h4>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                    <!--<div class="fltr-btm">-->
                    <!--<h3 itemprop="headline">See more projects? Let's check now</h3>-->
                    <!--<a class="theme-btn hrz" href="portfolio.html" title="" itemprop="url">View All Projects</a>-->
                    <!--</div>-->
                </div>
            </div><!-- Projects Wrap -->
        </div>
    </section>
    <section id="news">
        <div class="spacing top-spac70">
            <div class="container">
                <div class="sec-tl2 text-center">
                    <i>NEWS</i>
                    <h2 itemprop="headline">企业新闻</h2>
                </div>
                {% include "./components/news-temp.html" %}
            </div>
        </div>
    </section>
    <section>
        <div class="spacing top-spac190 bottom-spac190">
            <div class="fixed-bg2" style="background-image: url(assets/images/big/xuanchuanpianbg.jpg);"></div>
            <div class="container">
                <div class="vdo-wrp">
                    <div class="row">
                        <div class="col-md-6 col-sm-12 col-lg-6">
                            <div class="vdo-bx brd-rd10 theme-bf-bg">
                                <img src="assets/images/resources/vdo-img.jpg" alt="vdo-img.jpg" itemprop="image">
                                <a class="brd-rd50" data-fancybox
                                   href="http://medicalvideo.oss-cn-beijing.aliyuncs.com/hxs/%E5%85%AC%E5%8F%B8%E4%B8%9A%E5%8A%A1%E5%AE%A3%E4%BC%A0%E7%89%87.mp4"
                                   title="" itemprop="url"><i
                                    class="fa fa-play"></i></a>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-12 col-lg-6">
                            <div class="vdo-info">
                                <h2 itemprop="headline">
                                    <!--<i class="theme-clr">Video Presentation to</i> -->
                                    泽桥企业宣传片</h2>
                                <p itemprop="description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras
                                    aliquam sagittis ex, ac finibus lectus lacinia a. Mauris non ligula nec libero
                                    finibus blandit. Vestibulum volutpat sagittis dolor nec euismod. Vivamus in
                                    scelerisque elit. Donec odio orci, placerat non leo ac, mollis pellentesque est.
                                    Etiam sit amet imperdiet tellus.</p>
                                <!--<a class="theme-btn hrz theme-bf-bg brd-rd3" href="#" title="" itemprop="url">MORE</a>-->
                            </div>
                        </div>
                    </div>
                </div><!-- Video Wrap -->
            </div>
        </div>
    </section>
    <section id="contact">
        <div class="spacing">
            <div class="fixed-bg" style="background-image: url(assets/images/big/1920x1024.jpg);"></div>
            <div class="container">
                <div class="get-tuch-wrp">
                    <div class="row">
                        <div class="col-md-7 col-sm-12 col-lg-7">
                            <div class="sec-tl2 wht-clr text-center">
                                <i>CONTACT US</i>
                                <h2 class="no-bf" itemprop="headline">联系我们</h2>
                            </div>
                            <div class="cnt-frm-wrp text-center">
                                <form method="post" action="/customers/add">
                                    <div class="row mrg20">
                                        <div class="col-md-6 col-sm-6 col-lg-6">
                                            <input type="text" placeholder="姓名(必填)" required name="name"
                                                   class="brd-rd3">
                                        </div>
                                        <div class="col-md-6 col-sm-6 col-lg-6">
                                            <input type="text" placeholder="手机(必填)" required name="phone"
                                                   class="brd-rd3">
                                        </div>
                                        <div class="col-md-6 col-sm-6 col-lg-6">
                                            <input type="text" placeholder="企业名称(必填)" required name="company_name"
                                                   class="brd-rd3">
                                        </div>
                                        <div class="col-md-6 col-sm-6 col-lg-6">
                                            <input type="text" placeholder="预算(必填)" required name="budget"
                                                   class="brd-rd3">
                                        </div>
                                        <div class="col-md-6 col-sm-6 col-lg-6">
                                            <select required name="field" class="brd-rd3">
                                                <option value="">领域(必填)</option>
                                                <option value="医学综合">医学综合</option>
                                                <option value="大众健康">大众健康</option>
                                                <option value="肿瘤">肿瘤</option>
                                                <option value="心血管">心血管</option>
                                                <option value="内分泌">内分泌</option>
                                                <option value="呼吸">呼吸</option>
                                                <option value="消化">消化</option>
                                                <option value="妇产科">妇产科</option>
                                                <option value="儿科">儿科</option>
                                                <option value="感染科">感染科</option>
                                                <option value="神经科">神经科</option>
                                                <option value="肝病科">肝病科</option>
                                            </select>
                                            <!--<input type="text" placeholder="领域" name="field" class="brd-rd3">-->
                                        </div>
                                        <div class="col-md-6 col-sm-6 col-lg-6">
                                            <select required name="project_type" class="brd-rd3">
                                                <option value="">项目类型(必填)</option>
                                                <option value="音频视频">音频视频</option>
                                                <option value="医学直播">医学直播</option>
                                                <option value="微信APP">微信APP</option>
                                                <option value="杂志报纸">杂志报纸</option>
                                                <option value="书籍版权">书籍版权</option>
                                                <option value="微博网站">微博网站</option>
                                                <option value="广告评估">广告评估</option>
                                                <option value="图谱画册">图谱画册</option>
                                                <option value="书籍出版">书籍出版</option>
                                                <option value="舆情监测">舆情监测</option>
                                                <option value="医学动画">医学动画</option>
                                                <option value="软文撰写">软文撰写</option>
                                                <option value="DSP投放">DSP投放</option>
                                                <option value="其他服务">其他服务</option>
                                            </select>
                                            <!--<input type="text" placeholder="项目类型" name="project_type" class="brd-rd3">-->
                                        </div>
                                        <div class="col-md-6 col-sm-6 col-lg-6">
                                            <select required name="ad_aim" class="brd-rd3">
                                                <option value="">投放目的(必填)</option>
                                                <option value="面向医生：学术/产品教育">面向医生：学术/产品教育</option>
                                                <option value="面向医生：资讯传播">面向医生：资讯传播</option>
                                                <option value="面向大众：科普教育">面向大众：科普教育</option>
                                                <option value="面向大众：品牌宣传">面向大众：品牌宣传</option>
                                                <option value="面向行业：品牌宣传">面向行业：品牌宣传</option>
                                                <option value="面向药店：店员教育">面向药店：店员教育</option>
                                                <option value="其他">其他</option>
                                            </select>
                                            <!--<input type="text" placeholder="投放目的" name="ad_aim" class="brd-rd3">-->
                                        </div>
                                        <div class="col-md-6 col-sm-6 col-lg-6">
                                            <input type="text" placeholder="意向平台" name="like_platform" class="brd-rd3">
                                        </div>
                                        <div class="col-md-12 col-sm-12 col-lg-12">
                                            <textarea placeholder="项目描述" name="tip" class="brd-rd3"></textarea>
                                        </div>
                                        <div class="col-md-12 col-sm-12 col-lg-12">
                                            <button class="theme-btn hrz brd-rd3 theme-bf-bg" type="submit">提交
                                            </button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <div class="col-md-5 col-sm-12 col-lg-5">
                            <div class="cnt-inf-wrp cnt-inf-car owl-carousel theme-bg"
                                 style="margin-top: 150px;padding: 100px 50px;display: block;">
                                <div class="cnt-inf-itm">
                                    <!--<h4 itemprop="headline">Branch office #1</h4>-->
                                    <ul class="cnt-inf-lst">
                                        <li><i class="fa fa-map-marker"></i> 北京市经济技术开发区荣华南路国瑞广场B座3903
                                        </li>
                                        <!--<li><i class="fa fa-clock-o"></i> Monday to Friday: 9am to 8pm</li>-->
                                        <li><i class="fa fa-envelope-o"></i> ZEQIAO@ZEQIAO.COM
                                        </li>
                                        <li><i class="fa fa-mobile"></i>010-53269095</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div><!-- Get In Touch Wrap -->
            </div>
        </div>
    </section>
    {% include "./components/footer.html" %}
</main><!-- Main Wrapper -->

<script src="assets/js/jquery.min.js?version={{ version }}"></script>
<script src="assets/js/bootstrap.min.js?version={{ version }}"></script>
<script src="assets/js/plugins.min.js?version={{ version }}"></script>
<script src="assets/js/part-int.js?version={{ version }}"></script>
<script src="assets/js/custom-scripts.js?version={{ version }}"></script>

<!-- Revolution JS Files -->
<script src="assets/js/revolution/jquery.themepunch.tools.min.js?version={{ version }}"></script>
<script src="assets/js/revolution/jquery.themepunch.revolution.min.js?version={{ version }}"></script>

<!-- Slider Revolution 5.0 Extensions -->
<script src="assets/js/revolution/extensions/revolution.extension.actions.min.js?version={{ version }}"></script>
<script src="assets/js/revolution/extensions/revolution.extension.carousel.min.js?version={{ version }}"></script>
<script src="assets/js/revolution/extensions/revolution.extension.kenburn.min.js?version={{ version }}"></script>
<script src="assets/js/revolution/extensions/revolution.extension.layeranimation.min.js?version={{ version }}"></script>
<script src="assets/js/revolution/extensions/revolution.extension.migration.min.js?version={{ version }}"></script>
<script src="assets/js/revolution/extensions/revolution.extension.navigation.min.js?version={{ version }}"></script>
<script src="assets/js/revolution/extensions/revolution.extension.parallax.min.js?version={{ version }}"></script>
<script src="assets/js/revolution/extensions/revolution.extension.slideanims.min.js?version={{ version }}"></script>
<script src="assets/js/revolution/extensions/revolution.extension.video.min.js?version={{ version }}"></script>
<script src="assets/js/revolution/revolution-init.js?version={{ version }}"></script>
</body>
</html>
