<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content=""/>
    <meta name="keywords" content=""/>
    <title>新闻详情</title>

    <link rel="stylesheet" href="assets/css/webfonts.css?version={{ version }}">
    <link rel="stylesheet" href="assets/css/bootstrap.min.css?version={{ version }}">
    <link rel="stylesheet" href="assets/css/plugins.min.css?version={{ version }}">
    <link rel="stylesheet" href="assets/css/style.css?version={{ version }}">
    <link rel="stylesheet" href="assets/css/color.css?version={{ version }}">
    <link rel="stylesheet" href="assets/css/responsive.css?version={{ version }}">
</head>
<body itemscope>
<main>
    {% include "./components/navbar.html" %}
    <section>
        <div class="spacing opc8">
            <div class="fixed-bg" style="background-image: url(assets/images/cblt.jpg);background-position: top;background-size: 100%;"></div>
            <div class="container">
                <div class="pg-tp-wrp text-center">
                    <div class="pg-tp-inr">
                        <h1 itemprop="headline">2018首届<span style="color:#fab702;" class="theme-clr">健康传播论坛</span>举行</h1>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section>
        <div class="container" style="margin-bottom: 50px;">
            <h2 class="blue-half-circle">
                2018首届健康传播论坛举行<br>
                发布《医学传播手中研究报告》
            </h2>
            <p class="intro">发布媒体：医谷 健康报</p>
            <img src="assets/images/jkcm-1.jpg" style="width: 100%;margin-bottom: 30px;" alt="">
            <p class="article">
                党的十九大报告指出，深化医药卫生体制改革，全面取消以药养医，健全药品供应保障制度。药品流通两票制、医药代表备案制，以及越来越多的降药价措施相继出台，医疗行业政策思路明朗，医药行业进入了“正本溯源、激浊扬清”的新篇章。新政策实施以后，对企业的战略、市场的发展、产品的销售会产生很大的影响。在这个转折点后，会有部分药企开始逐步走下坡路，但一些优秀药企会借势飞扬，这些企业有一个共同点：未雨绸缪，提前布局。在其他药企还在徘徊观望的时候，是凭借对市场的敏锐判断、对资源的有效利用，快速转型，实现弯道超车的机会。面对新时代，泽桥传媒成为最高效率、最低成本、最便捷的传播媒介。由北京泽桥传媒科技股份有限公司主办、国药励展协办的“2018首届健康传播论坛”在上海国家会展中心举行，本次论坛围绕新的传播理念、新的传播工具，以及如何利用传播开展营销工作等话题展开，泽桥传媒发布了《医学传播受众研究报告》。企业针对医生的传播活动的核心诉求。泽桥传媒实现了全媒体覆盖、全方位传播、全信息送达的立体宣传结果
            </p>
            <h3 class="blue-left">新时代医生的行为特征分析</h3>
            <img src="assets/images/jkcm-2.jpg" style="width: 100%;margin-bottom: 30px;" alt="">
        </div>
    </section>
    <section>
        <div class="spacing remove-gap">
            <div class="container">
                <div class="tl-stl">
                    <h4 itemprop="headline">更多企业文章</h4>
                </div>
                {% include "./components/news-temp.html" %}
            </div>
        </div>
    </section>
    {% include "./components/footer.html" %}
</main><!-- Main Wrapper -->

<script src="assets/js/jquery.min.js?version={{ version }}"></script>
<script src="assets/js/bootstrap.min.js?version={{ version }}"></script>
<script src="assets/js/plugins.min.js?version={{ version }}"></script>
<script src="assets/js/part-int.js?version={{ version }}"></script>
<script src="assets/js/custom-scripts.js?version={{ version }}"></script>
</body>
</html>
