<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content=""/>
    <meta name="keywords" content=""/>
    <title>新闻详情</title>

    <link rel="stylesheet" href="assets/css/webfonts.css?version={{ version }}">
    <link rel="stylesheet" href="assets/css/bootstrap.min.css?version={{ version }}">
    <link rel="stylesheet" href="assets/css/plugins.min.css?version={{ version }}">
    <link rel="stylesheet" href="assets/css/style.css?version={{ version }}">
    <link rel="stylesheet" href="assets/css/color.css?version={{ version }}">
    <link rel="stylesheet" href="assets/css/responsive.css?version={{ version }}">
</head>
<body itemscope>
<main>
    {% include "./components/navbar.html" %}
    <section>
        <div class="spacing opc8">
            <div class="fixed-bg" style="background-image: url(assets/images/bn8.jpg);background-position: top;background-size: 100%;"></div>
            <div class="container">
                <div class="pg-tp-wrp text-center">
                    <div class="pg-tp-inr">
                        <h1 itemprop="headline">亦庄<span style="color:#fab702;" class="theme-clr">文化创业产业</span>第一名</h1>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section>
        <div class="container" style="margin-bottom: 50px;">
            <h2 class="blue-half-circle">
                北京市文化创意创新创业大赛
            </h2>
            <img src="assets/images/cxcy.jpg" style="width: 100%;margin-bottom: 30px;" alt="">
            <p class="article">
                在市委宣传部、市国有文化资产监督管理办公室指导，市文化创意产业促进中心主办，以“创赢未来新无止境”为主题的“北京文投会杯”北京市文化创意创新创业大赛上，经过项目路演的激烈角逐，在初赛、复赛、决赛层层晋级，泽桥传媒过关斩将，从来自京津冀的1295个文创企业(项目)中一路打拼、脱颖而出，获得了一等奖的优异成绩。医视频产品的获奖，正应和了“进一步推动北京市文化创意产业发展，挖掘优秀文创项目，培养文创领军创业人才，扶持小而优文创企业，搭建创新创业平台”的宗旨与目的。泽桥传媒的项目，在整合文化创意创业资源，引导各界社会力量，支持文化创新创业，北京文化创意产业发展一定会发展出一片新的天地。医视频平台，作为优质文创IP，在医疗和传媒两个领域双专业的产品，以规划企业与产品视频传播策略、围绕学术推广与品牌提升、创意直播多维度达成推广等多个领域，成为最优质有效的平台产品。
            </p>
        </div>
    </section>
    <section>
        <div class="spacing remove-gap">
            <div class="container">
                <div class="tl-stl">
                    <h4 itemprop="headline">更多企业文章</h4>
                </div>
                {% include "./components/news-temp.html" %}
            </div>
        </div>
    </section>
    {% include "./components/footer.html" %}
</main><!-- Main Wrapper -->

<script src="assets/js/jquery.min.js?version={{ version }}"></script>
<script src="assets/js/bootstrap.min.js?version={{ version }}"></script>
<script src="assets/js/plugins.min.js?version={{ version }}"></script>
<script src="assets/js/part-int.js?version={{ version }}"></script>
<script src="assets/js/custom-scripts.js?version={{ version }}"></script>
</body>
</html>
