<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content=""/>
    <meta name="keywords" content=""/>
    <title>新闻详情</title>

    <link rel="stylesheet" href="assets/css/webfonts.css?version={{ version }}">
    <link rel="stylesheet" href="assets/css/bootstrap.min.css?version={{ version }}">
    <link rel="stylesheet" href="assets/css/plugins.min.css?version={{ version }}">
    <link rel="stylesheet" href="assets/css/style.css?version={{ version }}">
    <link rel="stylesheet" href="assets/css/color.css?version={{ version }}">
    <link rel="stylesheet" href="assets/css/responsive.css?version={{ version }}">
</head>
<body itemscope>
<main>
    {% include "./components/navbar.html" %}
    <section>
        <div class="spacing black-layer3 opc8">
            <div class="fixed-bg" style="background-image: url(assets/images/pg-tl-bg3.jpg);"></div>
            <div class="container">
                <div class="pg-tp-wrp text-center">
                    <div class="pg-tp-inr">
                        <h1 itemprop="headline">全球500强企业<span class="theme-clr">普华永道</span>合作</h1>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section>
        <div class="spacing no-spacing">
            <div class="prtfl-dtl-wrp style2">
                <div class="prtfl-dtl-innr" style="padding-bottom: 0;padding-top: 50px;">
                    <div class="container">
                        <div class="prtfl-dtl">
                            <div class="row">
                                <div class="col-md-12 col-sm-12 col-lg-12">
                                    <span class="cat"><a class="theme-clr" href="#" title="" itemprop="url"></a></span>
                                    <h1 itemprop="headline">2018首届健康传播论坛举行</h1>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--<div class="prtfl-imgs prtfl-car owl-carousel">-->
                <!--<img src="assets/images/resources/prtfl-dtl-img2-1.jpg" alt="prtfl-dtl-img2-1.jpg" itemprop="image">-->
                <!--<img src="assets/images/resources/prtfl-dtl-img2-2.jpg" alt="prtfl-dtl-img2-2.jpg" itemprop="image">-->
                <!--</div>-->
                <div class="prtfl-dtl-innr" style="padding-top:50px;">
                    <div class="container">
                        <div class="prtfl-dtl">
                            <div class="row">
                                <div class="col-md-12 col-sm-12 col-lg-12">
                                    <img src="assets/images/resources/prtfl-dtl-img2-1.jpg" alt="prtfl-dtl-img2-1.jpg"
                                         itemprop="image" class="bottom-spac80">
                                    <div class="prtfl-dtl-dec">
                                        <p itemprop="description">Eaque ipsa quae ab illo inventore veritatis et quasi
                                            architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem
                                            quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur. Duis
                                            lacus urna, condimentum a vehicula a, hendrerit ac nisi Lorem ipsum dolor
                                            sit amet, consectetur adipiscing elit condimentum a vehicula a, hendrerit ac
                                            nisi Lorem ipsum dolor sit ametVestibulum imperdiet nibh vel magna lacinia
                                            ultrices. Sed id interdum urna. Nam ac elit a ante commodo tristique. Duis
                                            lacus urna, condimentum a vehicula.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section>
        <div class="spacing remove-gap">
            <div class="container">
                <div class="tl-stl">
                    <h4 itemprop="headline">更多企业文章</h4>
                </div>
                {% include "./components/news-temp.html" %}
            </div>
        </div>
    </section>
    {% include "./components/footer.html" %}
</main><!-- Main Wrapper -->

<script src="assets/js/jquery.min.js?version={{ version }}"></script>
<script src="assets/js/bootstrap.min.js?version={{ version }}"></script>
<script src="assets/js/plugins.min.js?version={{ version }}"></script>
<script src="assets/js/part-int.js?version={{ version }}"></script>
<script src="assets/js/custom-scripts.js?version={{ version }}"></script>
</body>
</html>
