<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="" />
    <meta name="keywords" content="" />
    <title>泽桥新闻</title>

    <link rel="stylesheet" href="assets/css/webfonts.css?version={{ version }}">
    <link rel="stylesheet" href="assets/css/bootstrap.min.css?version={{ version }}">
    <link rel="stylesheet" href="assets/css/plugins.min.css?version={{ version }}">
    <link rel="stylesheet" href="assets/css/style.css?version={{ version }}">
    <link rel="stylesheet" href="assets/css/color.css?version={{ version }}">
    <link rel="stylesheet" href="assets/css/responsive.css?version={{ version }}">
</head>
<body itemscope>
    <main>
        {% include "./components/navbar.html" %}
        <section>
            <div class="spacing opc8">
                <div class="fixed-bg" style="background-image: url(assets/images/bn6.jpg);background-position: top;background-size: 100%;"></div>
                <div class="container">
                    <div class="pg-tp-wrp text-center">
                        <div class="pg-tp-inr">
                            <!--<h1 itemprop="headline">Blog Detail With Left Sidebar</h1>-->
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section>
            <div class="spacing">
                <div class="container">
                    <div class="row">
                        <div class="col-md-8 col-sm-12 col-lg-8" style="margin: 0 auto;">
                            <div class="remove-ext5">
                                <div class="row">
                                    <div class="col-md-6 col-sm-6 col-lg-6">
                                        <div class="post-bx text-center">
                                            <div class="post-thumb hrz brd-rd3">
                                                <a href="/news-detail2" title="" itemprop="url"><img src="assets/images/news/380x244普华永道深度合作.jpg" alt="post-img3-1.jpg" itemprop="image"></a>
                                            </div>
                                            <div class="post-info">
                                                <h4 itemprop="headline"><a href="/news-detail2" title="" itemprop="url">与普华永道深度合作</a></h4>
                                                <!--<ul class="post-meta">-->
                                                    <!--<li>By <a href="#" title="" itemprop="url">userthemes</a></li>-->
                                                    <!--<li>February 3, 2015 in <a href="#" title="" itemprop="url">Society</a></li>-->
                                                <!--</ul>-->
                                                <p itemprop="description">泽桥与普华永道的正式签约代表着医疗传媒行业的龙头与国际一流战略规划公司深度合作落地</p>
                                                <a class="theme-btn hrz brd-rd3 theme-bf-bg" href="/news-detail2" title="" itemprop="url">READ MORE</a>
                                            </div>
                                        </div>
                                        <div class="post-bx text-center">
                                            <div class="post-thumb hrz brd-rd3">
                                                <a href="/news-detail1" title="" itemprop="url"><img src="assets/images/news/380x244亦庄文化产业第一.jpg" alt="post-img3-2.jpg" itemprop="image"></a>
                                            </div>
                                            <div class="post-info">
                                                <h4 itemprop="headline"><a href="/news-detail1" title="" itemprop="url">获北京文化创意创新创业大赛一等奖</a></h4>
                                                <!--<ul class="post-meta">-->
                                                    <!--<li>By <a href="#" title="" itemprop="url">userthemes</a></li>-->
                                                    <!--<li>February 3, 2015 in <a href="#" title="" itemprop="url">Society</a></li>-->
                                                <!--</ul>-->
                                                <p itemprop="description">医视频在“创赢未来新无止境”为主题“北京文投会杯”北京市文化创意创新创业大赛上荣获一等奖</p>
                                                <a class="theme-btn hrz brd-rd3 theme-bf-bg" href="/news-detail1" title="" itemprop="url">READ MORE</a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-sm-6 col-lg-6">
                                        <div class="post-bx text-center">
                                            <div class="post-thumb hrz brd-rd3">
                                                <a href="/news-detail" title="" itemprop="url"><img src="assets/images/news/380x244首届传播论坛.jpg" alt="post-img3-3.jpg" itemprop="image"></a>
                                            </div>
                                            <div class="post-info">
                                                <h4 itemprop="headline"><a href="/news-detail" title="" itemprop="url">成功举办首届健康传播论坛</a></h4>
                                                <!--<ul class="post-meta">-->
                                                    <!--<li>By <a href="#" title="" itemprop="url">userthemes</a></li>-->
                                                    <!--<li>February 3, 2015 in <a href="#" title="" itemprop="url">Society</a></li>-->
                                                <!--</ul>-->
                                                <p itemprop="description">2018首届健康传播论坛举行，发布《医学传播手中研究报告》</p>
                                                <a class="theme-btn hrz brd-rd3 theme-bf-bg" href="/news-detail" title="" itemprop="url">READ MORE</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!--<div class="pagi-wrp text-center">-->
                                <!--<ul class="pagination">-->
                                    <!--<li class="page-item brd-rd3"><a class="page-link" href="#" title="" itemprop="url"><i class="fa fa-angle-left"></i> PREVIOUS</a></li>-->
                                    <!--<li class="page-item brd-rd3"><a class="page-link" href="#" title="" itemprop="url">1</a></li>-->
                                    <!--<li class="page-item active brd-rd3"><span>2</span></li>-->
                                    <!--<li class="page-item brd-rd3"><a class="page-link" href="#" title="" itemprop="url">3</a></li>-->
                                    <!--<li class="page-item brd-rd3"><a class="page-link" href="#" title="" itemprop="url">4</a></li>-->
                                    <!--<li class="page-item brd-rd3"><a class="page-link" href="#" title="" itemprop="url">5</a></li>-->
                                    <!--<li class="page-item brd-rd3"><a class="page-link" href="#" title="" itemprop="url">6</a></li>-->
                                    <!--<li class="page-item brd-rd3"><a class="page-link" href="#" title="" itemprop="url">7</a></li>-->
                                    <!--<li class="page-item brd-rd3"><a class="page-link" href="#" title="" itemprop="url">NEXT <i class="fa fa-angle-right"></i></a></li>-->
                                <!--</ul>-->
                            <!--</div>&lt;!&ndash; Pagination Wrap &ndash;&gt;-->
                        </div>
                    </div>
                </div>
            </div>
        </section>
        {% include "./components/footer.html" %}
    </main><!-- Main Wrapper -->

    <script src="assets/js/jquery.min.js?version={{ version }}"></script>
    <script src="assets/js/bootstrap.min.js?version={{ version }}"></script>
    <script src="assets/js/plugins.min.js?version={{ version }}"></script>
    <script src="assets/js/part-int.js?version={{ version }}"></script>
    <script src="assets/js/custom-scripts.js?version={{ version }}"></script>
</body>
</html>
