<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="" />
    <meta name="keywords" content="" />
    <title>医阶</title>

    <link rel="stylesheet" href="assets/css/webfonts.css?version={{ version }}">
    <link rel="stylesheet" href="assets/css/bootstrap.min.css?version={{ version }}">
    <link rel="stylesheet" href="assets/css/plugins.min.css?version={{ version }}">
    <link rel="stylesheet" href="assets/css/style.css?version={{ version }}">
    <link rel="stylesheet" href="assets/css/color.css?version={{ version }}">
    <link rel="stylesheet" href="assets/css/responsive.css?version={{ version }}">
</head>
<body itemscope>
    <main>
        {% include "./components/navbar.html" %}
        <section>
            <div class="spacing opc8 atLogo">
                <div class="fixed-bg" style="background-image: url(assets/images/yijie-banner.jpg);background-position: top;background-size: 100%;"></div>
                <div class="container">
                    <div class="pg-tp-wrp text-center">
                        <div class="pg-tp-inr">
                            <h1 itemprop="headline">医疗从业者终身学习值得<span style="color:#fab702;" class="theme-clr">信赖</span>的伙伴</h1>
                            <!--<ol class="breadcrumb">-->
                                <!--<li class="breadcrumb-item"><a href="index.html" title="" itemprop="url">Home</a></li>-->
                                <!--<li class="breadcrumb-item active">About Us Style 2</li>-->
                            <!--</ol>-->
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section>
            <div class="spacing bottom-spac220 top-spac100">
                <div class="container">
                    <div class="sanjiao-sec">
                        <img src="assets/images/yijie-sanjiao.png" alt="">
                        <div class="sanjiao-text">
                            <span class="blue-dot"></span>
                            医阶是专业的医学音频平台，面向全体医疗从业者。医阶上线的每一条音频，都经过医阶团队细致地打磨和严格地把控。我们交到你手上的音频内容，一定是让你“听得懂、记得住、用得上”的医学知识交付。
                            <br>
                            <br>
                            同时，也请你记住我们：听医学，来医阶。
                            <div class="qrwrap" style="text-align: center;margin-top: 20px;">
                                <img src="assets/images/yijieQRqr.png" style="width: 150px;height:150px;background: black;position: relative;top:14px;" alt="">
                                <img src="assets/images/xiazaitext.png" style="width: 100px;vertical-align: bottom;" alt="">
                            </div>
                        </div>
                    </div>
                    <!--<span class="cat"><a class="theme-clr" href="#" title="" itemprop="url">MARKETING</a></span>-->
                    <!--<h1 itemprop="headline">医生音频知识平台</h1>-->
                    <!--<div class="srv-wrp6 remove-ext15">-->
                        <!--<div class="srv-bx6">-->
                            <!--<div class="srv-thmb6">-->
                                <!--<img src="assets/images/resources/srv-img6-1.jpg" alt="srv-img6-1.jpg" itemprop="image">-->
                            <!--</div>-->
                            <!--<div class="srv-inf6">-->
                                <!--&lt;!&ndash;<span>SERVICE 01</span>&ndash;&gt;-->
                                <!--<h2 itemprop="headline">更优的学习体验</h2>-->
                                <!--<p itemprop="description">音频解放双眼双手，非常人性化，过去一年，人均单日启动音频APP的次数超过6次人均单日使用音频时长超过85分钟。音频成为“碎片化”时间首要占领者。</p>-->
                                <!--<a class="brd-rd2" href="#" title="" itemprop="url">二维码</a>-->
                            <!--</div>-->
                        <!--</div>-->
                    <!--</div>-->
                </div>
            </div>
        </section>
        <section>
            <div class="spacing gray-bg less-spacing">
                <div class="container">
                    <div>
                        <div class="row">
                            <div class="col-md-4 col-xs-4 col-lg-4">
                                <div class="cor-desc style2 text-right">
                                    <div class="cor-lst">
                                        <div class="cor-bx">
                                            <!--<i class="brd-rd50 fa fa-refresh"></i>-->
                                            <h4 itemprop="headline">听书</h4>
                                            <p itemprop="description">创造性解读医界100本好书</p>
                                            <!--<p itemprop="description">为医生进行知识转述</p>-->
                                        </div>
                                        <div class="cor-bx">
                                            <!--<i class="brd-rd50 fa fa-refresh"></i>-->
                                            <h4 itemprop="headline">大师课</h4>
                                            <p itemprop="description">行业顶级大咖的学术专栏</p>
                                            <!--<p itemprop="description">为医生进行知识转述</p>-->
                                        </div>
                                        <div class="cor-bx">
                                            <!--<i class="brd-rd50 fa fa-refresh"></i>-->
                                            <h4 itemprop="headline">医阶头条</h4>
                                            <p itemprop="description">掌握时下最新的医疗动态</p>
                                            <!--<p itemprop="description">为医生进行知识转述</p>-->
                                        </div>
                                        <!--<div class="cor-bx">-->
                                            <!--&lt;!&ndash;<i class="brd-rd50 fa fa-address-card"></i>&ndash;&gt;-->
                                            <!--<h4 itemprop="headline">医学前沿</h4>-->
                                            <!--<p itemprop="description">精选全球最新资讯  每周更新分专业推送</p>-->
                                        <!--</div>-->
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4 col-xs-4 col-lg-4">
                                <div class="no-btm overlap220 text-center sjsjsj">
                                    <img src="assets/images/phone333.png" alt="cor-mckp2.png" itemprop="image">
                                </div>
                            </div>
                            <div class="col-md-4 col-xs-4 col-lg-4">
                                <div class="cor-lst style2">
                                    <div class="cor-bx">
                                        <!--<i class="brd-rd50 fa fa-diamond"></i>-->
                                        <h4 itemprop="headline">精品课</h4>
                                        <p itemprop="description">医疗从业者的诊断工具</p>
                                    </div>
                                    <div class="cor-bx">
                                        <!--<i class="brd-rd50 fa fa-refresh"></i>-->
                                        <h4 itemprop="headline">指南与共识</h4>
                                        <p itemprop="description">权威解读最新指南共识</p>
                                    </div>
                                    <div class="cor-bx">
                                        <!--<i class="brd-rd50 fa fa-refresh"></i>-->
                                        <h4 itemprop="headline">药的进化史</h4>
                                        <p itemprop="description">临床用药研发、上市，走向临床的幕后故事</p>
                                    </div>
                                    <div class="cor-bx">
                                        <!--<i class="brd-rd50 fa fa-refresh"></i>-->
                                        <h4 itemprop="headline">著作的诞生</h4>
                                        <p itemprop="description">聚焦医界高分文章背后故事</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div><!-- Core Wrap -->
                </div>
            </div>
        </section>
        {% include "./components/footer.html" %}
    </main><!-- Main Wrapper -->

    <script src="assets/js/jquery.min.js?version={{ version }}"></script>
    <script src="assets/js/bootstrap.min.js?version={{ version }}"></script>
    <script src="assets/js/plugins.min.js?version={{ version }}"></script>
    <!--<script src="assets/js/part-int.js?version={{ version }}"></script>-->
    <!--<script src="assets/js/part-int2.js?version={{ version }}"></script>-->
    <script src="assets/js/custom-scripts.js?version={{ version }}"></script>
</body>
</html>
