<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="" />
    <meta name="keywords" content="" />
    <title>医视屏</title>

    <link rel="stylesheet" href="assets/css/webfonts.css?version={{ version }}">
    <link rel="stylesheet" href="assets/css/bootstrap.min.css?version={{ version }}">
    <link rel="stylesheet" href="assets/css/plugins.min.css?version={{ version }}">
    <link rel="stylesheet" href="assets/css/style.css?version={{ version }}">
    <link rel="stylesheet" href="assets/css/color.css?version={{ version }}">
    <link rel="stylesheet" href="assets/css/responsive.css?version={{ version }}">
</head>
<body itemscope>
    <main>
        {% include "./components/navbar.html" %}
        <section>
            <div class="spacing opc8 atLogo">
                <div class="fixed-bg" style="background-image: url(assets/images/yishiping-banner.jpg);background-position: top;background-size: 100%;"></div>
                <div class="container">
                    <div class="pg-tp-wrp text-center">
                        <div class="pg-tp-inr">
                            <h1 itemprop="headline">建立 医患之间、医企之间的<span style="color:#fab702;" class="theme-clr">有效沟通</span>，<br>是我们从始至终的责任</h1>
                            <!--<ol class="breadcrumb">-->
                                <!--<li class="breadcrumb-item"><a href="index.html" title="" itemprop="url">Home</a></li>-->
                                <!--<li class="breadcrumb-item active">About Us Style 2</li>-->
                            <!--</ol>-->
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section>
            <div class="spacing bottom-spac220 top-spac100">
                <div class="container">
                    <div class="sanjiao-sec">
                        <img src="assets/images/news/sanjiaoyishiping.png" alt="">
                        <div class="sanjiao-text">
                            <span class="blue-dot"></span>
                            医视屏，全屏覆盖的专业医生教育和医学人文传播视频平台。基层医生全覆盖，权威专家全链接，媒体平台全渠道。精品课、手术视频，打造全学科实操性课程，即看即会。医学人文内容，暖心系列，为医发声温暖医患；高端访谈，多维度呈现中国医疗新生态。平台采用大数据，智能化生产和分发，精准到达用户，是专属泛医生群体的视频平台。
                            <div class="qrwrap" style="text-align: center;margin-top: 20px;">
                                <img src="assets/images/news/qrqr.png" style="width: 150px;height:150px;background: black;position: relative;top:14px;" alt="">
                                <img src="assets/images/news/xiazaiyishiping.png" style="width: 100px;vertical-align: bottom;position: relative;top:14px;" alt="">
                            </div>
                        </div>
                    </div>
                    <!--<span class="cat"><a class="theme-clr" href="#" title="" itemprop="url">MARKETING</a></span>-->
                    <!--<h1 itemprop="headline">医生音频知识平台</h1>-->
                    <!--<div class="srv-wrp6 remove-ext15">-->
                    <!--<div class="srv-bx6">-->
                    <!--<div class="srv-thmb6">-->
                    <!--<img src="assets/images/resources/srv-img6-1.jpg" alt="srv-img6-1.jpg" itemprop="image">-->
                    <!--</div>-->
                    <!--<div class="srv-inf6">-->
                    <!--&lt;!&ndash;<span>SERVICE 01</span>&ndash;&gt;-->
                    <!--<h2 itemprop="headline">更优的学习体验</h2>-->
                    <!--<p itemprop="description">音频解放双眼双手，非常人性化，过去一年，人均单日启动音频APP的次数超过6次人均单日使用音频时长超过85分钟。音频成为“碎片化”时间首要占领者。</p>-->
                    <!--<a class="brd-rd2" href="#" title="" itemprop="url">二维码</a>-->
                    <!--</div>-->
                    <!--</div>-->
                    <!--</div>-->
                </div>
            </div>
            <!--<section>-->
                <!--<div class="spacing gray-bg less-spacing">-->
                    <!--<div class="container">-->
                        <!--<div class="cor-wrp">-->
                            <!--<div class="row">-->
                                <!--<div class="col-md-4 col-sm-12 col-lg-4">-->
                                    <!--<div class="cor-desc style2 text-right">-->
                                        <!--<div class="cor-lst">-->
                                            <!--<div class="cor-bx">-->
                                                <!--&lt;!&ndash;<i class="brd-rd50 fa fa-address-card"></i>&ndash;&gt;-->
                                                <!--<h4 itemprop="headline">精品课</h4>-->
                                                <!--<p itemprop="description">分享临床诊疗经验，规范基层临床诊疗</p>-->
                                            <!--</div>-->
                                            <!--<div class="cor-bx">-->
                                                <!--&lt;!&ndash;<i class="brd-rd50 fa fa-refresh"></i>&ndash;&gt;-->
                                                <!--<h4 itemprop="headline">医学人物</h4>-->
                                                <!--<p itemprop="description">用镜头记录健康守护者、仁术传承者的心声</p>-->
                                                <!--<p itemprop="description">点滴汇集平凡的感动</p>-->
                                            <!--</div>-->
                                        <!--</div>-->
                                    <!--</div>-->
                                <!--</div>-->
                                <!--<div class="col-md-4 col-sm-6 col-lg-4">-->
                                    <!--<div class="cor-mckp no-btm overlap220 text-center">-->
                                        <!--<img src="assets/images/news/y9shipingshouji.png" alt="cor-mckp2.png" itemprop="image">-->
                                    <!--</div>-->
                                <!--</div>-->
                                <!--<div class="col-md-4 col-sm-12 col-lg-4">-->
                                    <!--<div class="cor-lst style2">-->
                                        <!--<div class="cor-bx">-->
                                            <!--&lt;!&ndash;<i class="brd-rd50 fa fa-diamond"></i>&ndash;&gt;-->
                                            <!--<h4 itemprop="headline">手术视频</h4>-->
                                            <!--<p itemprop="description">展现关键要点步骤，完整讲解操作流程</p>-->
                                        <!--</div>-->
                                        <!--<div class="cor-bx">-->
                                            <!--&lt;!&ndash;<i class="brd-rd50 fa fa-refresh"></i>&ndash;&gt;-->
                                            <!--<h4 itemprop="headline">院长访谈录</h4>-->
                                            <!--<p itemprop="description">探讨社会关注的医疗问题，分享最科学的医院管理经验和个人经历，促进各医院之间交流学习共同进步</p>-->
                                        <!--</div>-->
                                        <!--&lt;!&ndash;<div class="cor-bx">&ndash;&gt;-->
                                        <!--&lt;!&ndash;&lt;!&ndash;<i class="brd-rd50 fa fa-refresh"></i>&ndash;&gt;&ndash;&gt;-->
                                        <!--&lt;!&ndash;<h4 itemprop="headline">药的进化史</h4>&ndash;&gt;-->
                                        <!--&lt;!&ndash;<p itemprop="description">临床用药研发、上市，走向临床的幕后故事</p>&ndash;&gt;-->
                                        <!--&lt;!&ndash;</div>&ndash;&gt;-->
                                    <!--</div>-->
                                <!--</div>-->
                            <!--</div>-->
                        <!--</div>&lt;!&ndash; Core Wrap &ndash;&gt;-->
                    <!--</div>-->
                <!--</div>-->
            <!--</section>-->
            <section>
                <div class="container">
                    <img src="assets/images/kkks.png" style="width: 100%;" alt="">
                </div>
            </section>
        {% include "./components/footer.html" %}
    </main><!-- Main Wrapper -->

    <script src="assets/js/jquery.min.js?version={{ version }}"></script>
    <script src="assets/js/bootstrap.min.js?version={{ version }}"></script>
    <script src="assets/js/plugins.min.js?version={{ version }}"></script>
    <!--<script src="assets/js/part-int.js?version={{ version }}"></script>-->
    <!--<script src="assets/js/part-int2.js?version={{ version }}"></script>-->
    <script src="assets/js/custom-scripts.js?version={{ version }}"></script>
</body>
</html>
