<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="" />
    <meta name="keywords" content="" />
    <title>医视屏</title>

    <link rel="stylesheet" href="assets/css/webfonts.css">
    <link rel="stylesheet" href="assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/css/plugins.min.css">
    <link rel="stylesheet" href="assets/css/style.css">
    <link rel="stylesheet" href="assets/css/color.css">
    <link rel="stylesheet" href="assets/css/responsive.css">
</head>
<body itemscope>
    <main>
        {% include "./components/navbar.html" %}
        <section>
            <div class="spacing black-layer3 opc8">
                <div class="fixed-bg" style="background-image: url(assets/images/pg-tl-bg4.jpg);"></div>
                <div class="container">
                    <div class="pg-tp-wrp text-center">
                        <div class="pg-tp-inr">
                            <h1 itemprop="headline">About Us Style 2</h1>
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="index.html" title="" itemprop="url">Home</a></li>
                                <li class="breadcrumb-item active">About Us Style 2</li>
                            </ol>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section>
            <div class="spacing bottom-spac220 top-spac100">
                <div class="container">
                    <span class="cat"><a class="theme-clr" href="#" title="" itemprop="url">MARKETING</a></span>
                    <h1 itemprop="headline">Magazine Charts the Most Fashionable New York Women in 2018</h1>
                    <div class="srv-wrp6 remove-ext15">
                        <div class="srv-bx6">
                            <div class="srv-thmb6">
                                <img src="assets/images/resources/srv-img6-1.jpg" alt="srv-img6-1.jpg" itemprop="image">
                            </div>
                            <div class="srv-inf6">
                                <span>SERVICE 01</span>
                                <h2 itemprop="headline">Creative Web Design</h2>
                                <p itemprop="description">Maecenas faucibus mollis interdum. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Donec sed odio dui. Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Maecenas faucibus mollis interdum. Duis mollis, est non </p>
                                <a class="brd-rd2" href="#" title="" itemprop="url">Learn more</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section>
            <div class="spacing gray-bg less-spacing">
                <div class="container">
                    <div class="cor-wrp">
                        <div class="row">
                            <div class="col-md-4 col-sm-12 col-lg-4">
                                <div class="cor-desc style2 text-right">
                                    <div class="cor-lst">
                                        <div class="cor-bx">
                                            <i class="brd-rd50 fa fa-diamond"></i>
                                            <h4 itemprop="headline">Option and Flexible Elements</h4>
                                            <p itemprop="description">Start Your Own Pet Business and More by Entrepreneur Press and Eileen Immerse blinds in tanks of gentle,</p>
                                        </div>
                                        <div class="cor-bx">
                                            <i class="brd-rd50 fa fa-refresh"></i>
                                            <h4 itemprop="headline">Best Support Team</h4>
                                            <p itemprop="description">Start Your Own Pet Business and More by Entrepreneur Press and Eileen Immerse blinds in tanks of gentle,</p>
                                        </div>
                                        <div class="cor-bx">
                                            <i class="brd-rd50 fa fa-font"></i>
                                            <h4 itemprop="headline">Maximum Performance</h4>
                                            <p itemprop="description">Start Your Own Pet Business and More by Entrepreneur Press and Eileen Immerse blinds in tanks of gentle,</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4 col-sm-6 col-lg-4">
                                <div class="cor-mckp no-btm overlap220 text-center">
                                    <img src="assets/images/resources/cor-mckp2.png" alt="cor-mckp2.png" itemprop="image">
                                </div>
                            </div>
                            <div class="col-md-4 col-sm-12 col-lg-4">
                                <div class="cor-vdo">
                                    <i>Our Core Features</i>
                                    <h2 itemprop="headline">The Dana WordPress Template</h2>
                                    <p itemprop="description">The display employs new techniques and technology to precisely follow the curves of the design, all the way to the elegantly rounded corners.</p>
                                    <a href="#" title="" itemprop="url"><i class="fa fa-play brd-rd50 theme-clr"></i> PLAY DANA VIDEO</a>
                                </div>
                            </div>
                        </div>
                    </div><!-- Core Wrap -->
                </div>
            </div>
        </section>
        {% include "./components/footer.html" %}
    </main><!-- Main Wrapper -->

    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/js/bootstrap.min.js"></script>
    <script src="assets/js/plugins.min.js"></script>
    <!--<script src="assets/js/part-int.js"></script>-->
    <!--<script src="assets/js/part-int2.js"></script>-->
    <script src="assets/js/custom-scripts.js"></script>
</body>
</html>
