<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="" />
    <meta name="keywords" content="" />
    <title>泽桥医生</title>

    <link rel="stylesheet" href="assets/css/webfonts.css?version={{ version }}">
    <link rel="stylesheet" href="assets/css/bootstrap.min.css?version={{ version }}">
    <link rel="stylesheet" href="assets/css/plugins.min.css?version={{ version }}">
    <link rel="stylesheet" href="assets/css/style.css?version={{ version }}">
    <link rel="stylesheet" href="assets/css/color.css?version={{ version }}">
    <link rel="stylesheet" href="assets/css/responsive.css?version={{ version }}">
</head>
<body itemscope>
    <main>
        {% include "./components/navbar.html" %}
        <section>
            <div class="spacing opc8 atLogo">
                <div class="fixed-bg" style="background-image: url(assets/images/zq-d-banner.jpg);background-position: top;background-size: 100%;"></div>
                <div class="container">
                    <div class="pg-tp-wrp text-center">
                        <div class="pg-tp-inr">
                            <h1 itemprop="headline">当你面对疾病不知所措时，<br><span style="color:#fab702;" class="theme-clr">泽桥医生</span>为你保驾护航</h1>
                            <!--<ol class="breadcrumb">-->
                                <!--<li class="breadcrumb-item"><a href="index.html" title="" itemprop="url">Home</a></li>-->
                                <!--<li class="breadcrumb-item active">About Us Style 2</li>-->
                            <!--</ol>-->
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section>
            <div class="spacing top-spac100">
                <div class="container">
                    <div class="sanjiao-sec">
                        <img src="assets/images/news/yishange.png" alt="">
                        <div class="sanjiao-text">
                            <span class="blue-dot"></span>
                            泽桥医生是一款即时化、精准化获取医疗健康信息的可视化平台，旨在改变传统零散、碎片化的信息获取方式，提供系统化、可视化、人性化、场景化、以患者为中心的信息，借助人工智能计划“泽桥大脑”，让人们在遇到疾病过程中的每个场景都可找到相关信息，帮助人们形成医学科普的体系化思考和辨别真伪能力，少些焦虑和盲从。
                            <div class="qrwrap" style="text-align: center;margin-top: 20px;">
                                <img src="assets/images/zeysqr.png" style="width: 150px;height:150px;background: black;" alt="">
                                <img src="assets/images/news/xiazaizeqiaoyisheng.png" style="width: 100px;vertical-align: bottom;" alt="">
                            </div>
                        </div>
                    </div>
                    <!--<span class="cat"><a class="theme-clr" href="#" title="" itemprop="url">MARKETING</a></span>-->
                    <!--<h1 itemprop="headline">医生音频知识平台</h1>-->
                    <!--<div class="srv-wrp6 remove-ext15">-->
                    <!--<div class="srv-bx6">-->
                    <!--<div class="srv-thmb6">-->
                    <!--<img src="assets/images/resources/srv-img6-1.jpg" alt="srv-img6-1.jpg" itemprop="image">-->
                    <!--</div>-->
                    <!--<div class="srv-inf6">-->
                    <!--&lt;!&ndash;<span>SERVICE 01</span>&ndash;&gt;-->
                    <!--<h2 itemprop="headline">更优的学习体验</h2>-->
                    <!--<p itemprop="description">音频解放双眼双手，非常人性化，过去一年，人均单日启动音频APP的次数超过6次人均单日使用音频时长超过85分钟。音频成为“碎片化”时间首要占领者。</p>-->
                    <!--<a class="brd-rd2" href="#" title="" itemprop="url">二维码</a>-->
                    <!--</div>-->
                    <!--</div>-->
                    <!--</div>-->
                </div>
            </div>
        </section>
        <section>
            <div class="container">
                <img src="assets/images/wallsq.png" style="width: 100%;" alt="">
            </div>
        </section>
        {% include "./components/footer.html" %}
    </main><!-- Main Wrapper -->

    <script src="assets/js/jquery.min.js?version={{ version }}"></script>
    <script src="assets/js/bootstrap.min.js?version={{ version }}"></script>
    <script src="assets/js/plugins.min.js?version={{ version }}"></script>
    <!--<script src="assets/js/part-int.js?version={{ version }}"></script>-->
    <!--<script src="assets/js/part-int2.js?version={{ version }}"></script>-->
    <script src="assets/js/custom-scripts.js?version={{ version }}"></script>
</body>
</html>
