<header class="style1 stick">
    <div class="topbar">
        <div class="container">
            <div class="topbar-inner theme-bg" style="background: rgba(0,0,0,0.1);border-left:10px solid #2db0f6;">
                <ul class="top-info pull-left">
                    <li><i style="color:#2db0f6;" class="fa fa-map-marker"></i> 北京市经济技术开发区荣华南路国锐广场B座3903</li>
                </ul>
                <ul class="top-info pull-right">
                    <li><i style="color:#2db0f6;" class="fa fa-phone"></i> 010-53269095</li>
                    <li><i style="color:#2db0f6;" class="fa fa-clock-o"></i> 24小时服务</li>
                </ul>
            </div>
        </div>
    </div><!-- Topbar -->
    <div class="menu-box">
        <div class="container">
            <div class="menu-box-inner">
                <div class="logo"><a href="/#home" title="Logo" itemprop="url"><img src="assets/images/logo222.png" style="width: 100px;" alt="logo1.png" itemprop="image"></a></div>
                <nav style="float: left;">
                    <div>
                        <ul class="bold">
                            <li class="menu-item"><a href="/#home" title="" itemprop="url">主页</a></li>
                            <li class="menu-item"><a href="/#about-us" title="" itemprop="url">关于泽桥</a></li>
                            <li class="menu-item"><a href="/#products" title="" itemprop="url">产品介绍</a></li>
                            <li class="menu-item"><a href="/#works" title="" itemprop="url">作品展示</a></li>
                            <li class="menu-item"><a href="/#news" title="" itemprop="url">企业新闻</a></li>
                            <li class="menu-item"><a href="/#contact" title="" itemprop="url">联系我们</a></li>
                        </ul>
                    </div>
                </nav>
            </div>
        </div>
    </div><!-- Menu Box -->
</header><!-- Header -->
<div class="hdr-srch-bx">
    <span class="srch-cls-btn"><i class="fa fa-close"></i></span>
    <form>
        <input type="text" placeholder="Search your keywords...">
        <button type="submit"><i class="fa fa-search"></i></button>
    </form>
</div>
<div class="rspn-hdr">
    <div class="lg-mn">
        <div class="logo"><a href="/#home" title="Logo" itemprop="url"><img src="assets/images/logo222.png" style="width: 70px;"  alt="logo1.png" itemprop="image"></a></div>
        <span class="rspn-mnu-btn"><i class="fa fa-list-ul"></i></span>
    </div>
    <div class="rsnp-mnu">
        <span class="rspn-mnu-cls"><i class="fa fa-times"></i></span>
        <ul class="bold">
            <li class="menu-item"><a href="/#home" title="" itemprop="url">主页</a></li>
            <li class="menu-item"><a href="/#about-us" title="" itemprop="url">关于泽桥</a></li>
            <li class="menu-item"><a href="/#products" title="" itemprop="url">产品介绍</a></li>
            <li class="menu-item"><a href="/#works" title="" itemprop="url">作品展示</a></li>
            <li class="menu-item"><a href="/#news" title="" itemprop="url">企业新闻</a></li>
            <li class="menu-item"><a href="/#contact" title="" itemprop="url">联系我们</a></li>
        </ul>
    </div><!-- Responsive Menu -->
</div><!-- Responsive Header -->
