<div class="remove-ext3">
    <div class="row">
        <div class="col-md-4 col-sm-6 col-lg-4">
            <div class="post-bx text-center">
                <div class="post-thumb hrz brd-rd3">
                    <a href="/news-detail2" title="" itemprop="url"><img
                        src="assets/images/news/380x244普华永道深度合作.jpg" alt="post-img1-1.jpg"
                        itemprop="image"></a>
                </div>
                <div class="post-info">
                    <h4 itemprop="headline"><a href="/news-detail2" title=""
                                               itemprop="url">普华永道深度合作</a></h4>
                    <ul class="post-meta">
                        <!--<li>By <a href="#" title="" itemprop="url">userthemes</a></li>-->
                        <!--<li>February 3, 2015 in <a href="#" title="" itemprop="url">Society</a></li>-->
                    </ul>
                    <p itemprop="description">泽桥与普华永道的正式签约，代表着医疗传媒行业的龙头与国际一流咨询调研公司的深度合作落地，将助力泽桥在创新驱动的新经济常态下拿下科技新高地、描绘新蓝图。</p>
                    <a class="theme-btn hrz brd-rd3 theme-bf-bg" href="/news-detail2"
                       title="" itemprop="url">MORE</a>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-sm-6 col-lg-4">
            <div class="post-bx text-center">
                <div class="post-thumb hrz brd-rd3">
                    <a href="/news-detail1" title="" itemprop="url"><img
                        src="assets/images/news/380x244亦庄文化产业第一.jpg" alt="post-img1-2.jpg"
                        itemprop="image"></a>
                </div>
                <div class="post-info">
                    <h4 itemprop="headline"><a href="/news-detail1" title=""
                                               itemprop="url">亦庄文化产业第一</a></h4>
                    <ul class="post-meta">
                        <!--<li>By <a href="#" title="" itemprop="url">userthemes</a></li>-->
                        <!--<li>February 3, 2015 in <a href="#" title="" itemprop="url">Society</a></li>-->
                    </ul>
                    <p itemprop="description">在市委宣传部、市国有文化资产监督管理办公室指导，市文化创意产业促进中心主办，以“创赢未来新无止境”为主题的“北京文投会杯”北京市文化创意创新创业大赛上荣获一等奖。</p>
                    <a class="theme-btn hrz brd-rd3 theme-bf-bg" href="/news-detail1"
                       title="" itemprop="url">MORE</a>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-sm-6 col-lg-4">
            <div class="post-bx text-center">
                <div class="post-thumb hrz brd-rd3">
                    <a href="/news-detail" title="" itemprop="url"><img
                        src="assets/images/news/380x244首届传播论坛.jpg" alt="post-img1-3.jpg"
                        itemprop="image"></a>
                </div>
                <div class="post-info">
                    <h4 itemprop="headline"><a href="/news-detail" title=""
                                               itemprop="url">首届传播论坛</a></h4>
                    <ul class="post-meta">
                        <!--<li>By <a href="#" title="" itemprop="url">userthemes</a></li>-->
                        <!--<li>February 3, 2015 in <a href="#" title="" itemprop="url">Society</a></li>-->
                    </ul>
                    <p itemprop="description">2018首届健康传播论坛举行，发布《医学传播手中研究报告》。</p>
                    <a class="theme-btn hrz brd-rd3 theme-bf-bg" href="/news-detail"
                       title="" itemprop="url">MORE</a>
                </div>
            </div>
        </div>
    </div>
</div>
