<style>
    .qqliaotian {
        width: 50px;
        height: 70px;
        position: fixed;
        top: 50%;
        right: 0;
        /*transform: translateY(-50%);*/
        z-index: 1000;
    }

    .qqliaotian img {
        width: 100%;
    }
</style>
<a class="qqliaotian" target="_blank" href="http://wpa.qq.com/msgrd?v=3&uin=462889217&site=qq&menu=yes"><img border="0"
                                                                                                          src="assets/images/icon/icon-QQ.png"
                                                                                                          alt="点击这里给我发消息"
                                                                                                          title="点击这里给我发消息"/></a>
